.bg {
  background: var(--mainBackgroundGradient);
}
.container {
  max-width: 500px;
  margin: auto;
  font-family: Inter;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.text-muted {
  color: var(--mainColor) !important;
}

.card {
  background: #1c2237;
  color: #fff;
  border-radius: 15px;
}
input.form-control {
  border-radius: 10px;
}
button {
  border-radius: 20px;
}
.mat-toolbar {
  background: transparent;
  border-radius: 16px;
  overflow: hidden;
  color: var(--mainColor);
  font-family: var(--headerFontFamily) !important;
}
.mat-toolbar h1 {
  font-family: var(--headerFontFamily) !important;
}
.mat-toolbar span {
  font-size: var(--regularFontSize);
}
.form-control {
  width: 75%;
  background-color: #d9d9d9;
}
button {
  background-color: #010423;
  border: #010423 2px solid;
}
.btn:hover {
  background-color: #1d212b;
  border: #1d212b;
}

.step-circle {
  background-color: #cc1646;
}
.step-line {
  margin: 0;
}
