<h4 class="mb-4 text-white">Project Overview</h4>
<div class="row text-center mb-5 g-3 ">
    <div class=" col-sm-6 col-md-3 totalProject d-flex justify-content-center align-items-center flex-column">
        <h5>Total Projects</h5>
        <div class="chart-card d-flex justify-content-center align-items-center">
            <canvas id="totalProjectsChart"></canvas>
            <div class="chart-label">
                <h3>10</h3>
            </div>
        </div>
    </div>

    <!-- Total Completed Issues Chart -->
    <div class=" col-sm-6  col-md-3 Completed d-flex justify-content-center align-items-center flex-column">
        <h5>Total Completed Issues</h5>
        <div class="chart-card">
            <canvas id="totalCompletedIssuesChart"></canvas>
            <div class="chart-label">
                <h3>30</h3>
            </div>
        </div>
    </div>

    <!-- Issues in Progress Chart -->
    <div class=" col-sm-6  col-md-3 inProgress d-flex justify-content-center align-items-center flex-column">
        <h5>Total Issues in Progress</h5>
        <div class="chart-card">
            <canvas id="issuesInProgressChart"></canvas>
            <div class="chart-label">
                <h3>5</h3>
            </div>
        </div>
    </div>

    <!-- Issues Overdue Chart -->
    <div class=" col-sm-6  col-md-3 overdue d-flex justify-content-center align-items-center flex-column">
        <h5>Total Issues Overdue</h5>
        <div class="chart-card">
            <canvas id="issuesOverdueChart"></canvas>
            <div class="chart-label">
                <h3>3</h3>
            </div>
        </div>
    </div>
</div>


<div class="row g-5">
    <div class="col-sm-12 col-md-8">
        <canvas id="lineChart " #lineChart></canvas>
    </div>
    <div class="col-sm-12 col-md-4">
        <canvas id="doughnutChart" #doughnutChart></canvas>
    </div>
</div>