<!-- <div class="card-container">
  <div
    *ngFor="let card of visibleCards; let i = index"
    class="card"
    [ngClass]="{
      'front': i === 0,
      'middle': i === 1,
      'back': i === 2,
      'animate-out': i === 0 && animating
    }"
    (click)="i === 0 && nextCard()"
  >
    {{ card.title }}
  </div>
</div> -->

<div class="card-container">
  <ng-container *ngFor="let item of visibleCards; let i = index; trackBy: trackByIndex">
    <div
      class="card"
      [ngClass]="{
        'front': i === 0,
        'middle': i === 1,
        'back': i === 2,
        'animate-out': i === 0 && animating
      }"
      [ngStyle]="{ background: getCardColor(item.index) }"
      (click)="i === 0 && nextCard()"
    >
      <ng-container
        *ngTemplateOutlet="cardContentTemplate; context: { $implicit: item.data }"
      ></ng-container>
    </div>
  </ng-container>
</div>


