<app-modal *ngIf="showModal" [title]="isEditMode ? 'Edit Issue' : 'Issue Details'" [formGroup]="issueUpdateForm"
    [modalContent]="modalContent" [showSubmit]="isEditMode" [submitText]="'Confirm'"
    [cancelText]="isEditMode ? 'Cancel' : 'Close'" (close)="handleModalClose()" (submit)="onSubmit()">
</app-modal>

<!-- The dynamic modal content -->

<ng-template #modalContent>
    <ng-container *ngIf="loading; else issueContent">
        <div class="d-flex justify-content-center align-items-center p-5">
            <i class="fa-solid fa-circle-notch fa-spin fa-2xl fw-lighter"></i>
        </div>
    </ng-container>
    <ng-template #issueContent>
        <ng-container *ngIf="!isEditMode; else editMode">

            <div class="issue-details ">

                <div class="issue-details-header d-flex justify-content-between align-items-center">
                    <!-- Title -->
                    <h3 class="  fw-semibold mb-3 ">{{ issue.title }}</h3>

                    <!-- Chips: Type | Priority | Status -->
                    <div class="d-flex flex-wrap  gap-2 mb-3">
                        <div
                            class="d-flex align-items-center badge bg-primary-subtle text-dark px-3 py-2 rounded-pill text-primary-emphasis">
                            Priority :
                            <div class=" ms-1 d-flex justify-content-between align-items-center gap-1">
                                <div class="priority">
                                    <img [src]="getPriorityIcon(issue.priority)" alt="Priority Icon"
                                        class="priority-icon" />
                                    <span [ngStyle]="getPriorityStyle(issue.priority)">{{ issue.priority }}</span>
                                </div>
                            </div>
                        </div>
                        <span
                            class="d-flex align-items-center badge bg-info-subtle text-primary-emphasis px-3 py-2 rounded-pill">Type:
                            {{ issue.type }}</span>

                        <!-- [ngClass]="getStatusBadgeClass(issue.status)"   gor make status colored -->
                        <span
                            class="badge d-inline-flex issue-status-badge align-items-center gap-2 px-3 py-2 rounded-pill "
                            *ngIf="getStatusConfig(issue?.status) as statusConfig">
                            <img [src]="statusConfig.icon" alt="Status Icon" width="18" height="18" />
                            {{ statusConfig.label }}
                        </span>

                    </div>

                </div>

                <!-- Description Card -->
                <div class="row g-3">
                    <div class="col-md-4">
                        <div class="card-issue-view shadow-sm shadow border-0">
                            <div class="card-body">
                                <h6 class="fw-semibold  mb-3">Created By</h6>
                                <div class="d-flex align-items-center gap-3">
                                    <img [src]="issue.createdBy?.imageUrl" alt="User" class="rounded-circle border"
                                        width="50" height="50" />
                                    <div>
                                        <div><span class="text-capitalize">{{ issue.createdBy?.firstName }} {{
                                                issue.createdBy?.lastName }}</span></div>
                                        <small class="dev-text-muted">{{ issue.creationDate | date: 'medium' }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-issue-view shadow-sm border-0 mb-3">
                            <div class="card-body">
                                <h6 class="card-title fw-semibold  mb-2">Description</h6>
                                <p class="card-text" *ngIf="issue?.description; else noDesc">{{ issue.description }}</p>
                                <ng-template #noDesc>
                                    <em class="dev-text-muted">No description provided.</em>
                                </ng-template>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- labels&attach -->
                <div class="row g-3">
                    <div class="col-md-4">
                        <div class="card-issue-view shadow-sm border-0 mb-3">
                            <div class="card-body">
                                <h6 class="card-title fw-semibold mb-2">Labels</h6>
                                <ng-container *ngIf="issueHasValidLabels; else noLabels">
                                    <div class="d-flex flex-wrap gap-2 max-height-scroll">
                                        <span class="badge px-3 py-2 text-capitalize"
                                            *ngFor="let label of issue.labels.split(','); let i = index"
                                            [ngClass]="'bg-label-' + (i % 5)">
                                            {{ label.trim() }}
                                        </span>
                                    </div>
                                </ng-container>

                                <ng-template #noLabels>
                                    <em class="dev-text-muted">No labels provided.</em>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-issue-view shadow-sm border-0 mb-3">
                            <div class="card-body">
                                <h6 class="card-title fw-semibold mb-2">Attachment</h6>

                                <ng-container *ngIf="issue.attachmentPath; else noAttachment">
                                    <a [href]="issue.attachmentPath" [download]="getFileName(issue.attachmentPath)"
                                        class="attach d-flex align-items-center gap-3 text-decoration-none p-3  rounded  shadow-sm">

                                        <i class="fa-solid" [ngClass]="getFileIcon(issue.attachmentPath)"
                                            style="font-size: 2rem;"></i>

                                        <div class="flex-grow-1">
                                            <div class="fw-medium ">{{ getFileName(issue.attachmentPath) }}
                                            </div>
                                            <small class="dev-text-muted">Click to download</small>
                                        </div>
                                    </a>
                                </ng-container>

                                <ng-template #noAttachment>
                                    <em class="dev-text-muted">No attachment available.</em>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Meta Info Card -->
                <div class="row g-3">
                    <!-- <div class="col-md-6">
                        <div class="card-issue-view shadow-sm shadow border-0 h-100">
                            <div class="card-body">
                                <h6 class="fw-semibold  mb-3" (click)="getAllSprints(issue.projectId)">Sprint</h6>
                                <div class="">
                                    <div class="form-group">
                                        <label for="sprintSelect">Assign to Sprint:</label>
                                        <select id="sprintSelect" class="form-control" [(ngModel)]="selectedSprintId"
                                            (change)="onSprintChange()">
                                            <option [ngValue]="null">Backlog</option>
                                            <option *ngFor="let sprint of sprintsList" [ngValue]="sprint.id">
                                                {{ sprint.title }}
                                            </option>
                                        </select>
                                    </div>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Assign to Sprint</mat-label>
                                        <mat-select [(ngModel)]="selectedSprintId" (selectionChange)="onSprintChange()">
                                            <mat-option [value]="null">Backlog</mat-option>
                                            <mat-option *ngFor="let sprint of sprintsList" [value]="sprint.id">
                                                {{ sprint.title }} ({{ sprint.startDate }} - {{ sprint.endDate }})
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>


                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- Sprint Assignment Card -->
                    <div class="col-md-6">
                        <div class="card-issue-view shadow-sm border-0 ">
                            <div class="card-body h-100">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h6 class="fw-semibold mb-0">Sprint Assignment</h6>
                                    <span class="badge burble-tag text-white rounded-pill"
                                        [matTooltip]="selectedSprintId ? getSprintTooltip(selectedSprintId) : ''"
                                        matTooltipPosition="above" matTooltipClass="sprint-tooltip-class">
                                        {{ selectedSprintId ? getSprintNameById(selectedSprintId) : 'Backlog' }}
                                    </span>
                                </div>
                                <mat-form-field appearance="outline" class="w-100">
                                    <div class="p-2">
                                        <mat-label>Move Issue To</mat-label>
                                        <mat-select class [(ngModel)]="selectedSprintId"
                                            (selectionChange)="onSprintChange()">
                                            <mat-option [value]="null">
                                                <div class="d-flex justify-content-between align-items-center gap-2">
                                                    <div class="backlogOrSprint-logo"><img
                                                            src="assets/images/Issue Status/backlog.svg" alt="">
                                                    </div>

                                                    Backlog
                                                </div>
                                            </mat-option>
                                            <mat-option *ngFor="let sprint of sprintsList" [value]="sprint.id" class="d-flex justify-content-between align-items-center gap-2
                ">
                                                <div class="d-flex justify-content-between align-items-center gap-2">
                                                    <div class="backlogOrSprint-logo"> <img
                                                            src="assets/images/issue view/sprint details/Sprint Iteration.svg"
                                                            alt=""></div> {{ sprint.title }}
                                                </div>
                                                <small class="dropdown-sprints-dates d-block">
                                                    {{ sprint.startDate }} → {{ sprint.endDate }}
                                                </small>
                                            </mat-option>
                                        </mat-select>

                                    </div>
                                </mat-form-field>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="card-issue-view shadow-sm border-0 h-100">
                            <div class="card-body">
                                <h6 class="fw-semibold mb-3">Assigned Users</h6>
                                <app-assign-users-to-issue [issueId]="issue.id"
                                    [issueProjectId]="issue.projectId"></app-assign-users-to-issue>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="px-3  text-sm text-light mt-4 g-3">
                    <div class="row">
                        <!-- Start Date -->
                        <div class="col-md-3 col-6 d-flex align-items-baseline gap-2">
                            <i class="fa-solid fa-calendar-days text-info fa-sm"></i>
                            <div>
                                <div class="fw-semibold">Start Date</div>
                                <div class="dev-text-muted">
                                    {{ issue.startDate ? (issue.startDate | date: 'mediumDate') : '—' }}
                                </div>
                            </div>
                        </div>

                        <!-- Deadline -->
                        <div class="col-md-3 col-6 d-flex align-items-baseline gap-2">
                            <i class="fa-solid fa-hourglass-half text-danger fa-sm"></i>
                            <div>
                                <div class="fw-semibold">Deadline</div>
                                <div class="dev-text-muted">
                                    {{ issue.deadline ? (issue.deadline | date: 'MMM d, y, h:mm a') : '—' }}
                                </div>
                            </div>
                        </div>

                        <!-- Delivered -->
                        <div class="col-md-3 col-6 d-flex align-items-baseline gap-2">
                            <i class="fa-solid fa-circle-check text-success fa-sm"></i>
                            <div>
                                <div class="fw-semibold">Delivered</div>
                                <div class="dev-text-muted">
                                    {{ issue.deliveredDate ? (issue.deliveredDate | date: 'MMM d, y, h:mm a') : '—' }}
                                </div>
                            </div>
                        </div>

                        <!-- Last Update -->
                        <div class="col-md-3 col-6 d-flex align-items-baseline gap-2">
                            <i class="fa-solid fa-rotate-right text-primary fa-sm"></i>
                            <div>
                                <div class="fw-semibold ">Last Update</div>
                                <div class="dev-text-muted">
                                    {{ issue.lastUpdate ? (issue.lastUpdate | date: 'mediumDate') : '—' }}
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


            </div>

            <div class="d-flex justify-content-end mt-3">
                <button mat-flat-button type="submit" (click)="toggleEditMode()" class="confirm-btn fw-semibold">
                    Update
                </button>
            </div>

        </ng-container>

    </ng-template>
    <ng-template #editMode>
        <form [formGroup]="issueUpdateForm">

            <!-- Issue Title -->
            <div class="row align-items-center">
                <div class="col-md-2">
                    <label for="issueTitle">Issue Title *</label>
                </div>
                <div class="col-md-10">
                    <input id="issueTitle" type="text" formControlName="title" placeholder="e.g. Linear" required />
                </div>
            </div>
            <!-- Description -->
            <div class="row  align-items-center flex-nowrap">
                <div class="col-md-2">
                    <label for="description">Description & Attachment</label>
                </div>
                <div class="col-md-6">
                    <textarea id="description" rows="2" formControlName="description"
                        placeholder="Write a few sentences about the Issue..."></textarea>
                </div>

                <!-- Attachment Upload -->
                <div class=" align-items-center col-md-4 ">
                    <!-- <div class="col-md-2">
                        <label for="attachment">Attachment</label>
                    </div> -->
                    <div class="col-md-10 d-flex  justify-content-start align-items-center">
                        <button mat-stroked-button type="button"
                            class="btn d-flex justify-content-center align-items-center choose-file-btn"
                            (click)="fileInput.click()" [ngClass]="{ 'file-selected': selectedFile }" [@pulseAnimation]>
                            <img src="assets/images/issue view/Featured icon.svg" alt="Upload" width="35px"
                                class="me-2" />
                            <span>{{ selectedFile ? selectedFile.name : 'Choose File' }}</span>
                        </button>

                        <input type="file" #fileInput hidden (change)="onFileSelected($event)" />
                    </div>
                </div>
            </div>
            <!-- Labels -->
            <div class="row align-items-center">
                <div class="col-md-2">
                    <label for="labels">Label</label>
                </div>
                <div class="col-md-10">
                    <mat-form-field class="label-chip-list" appearance="outline">
                        <mat-chip-grid #chipGrid aria-label="Enter Label">
                            <mat-chip-row *ngFor="let label of issueUpdateForm.controls['labels'].value; let i = index"
                                (removed)="remove(i)" [editable]="true" (edited)="edit(i, $event.value)"
                                (keydown)="limitLabelLength($event, i)"
                                [aria-description]="'Press enter to edit ' + label">
                                {{ label }}
                                <button matChipRemove [attr.aria-label]="'Remove ' + label">
                                    <mat-icon>&#x2715;</mat-icon>
                                </button>
                            </mat-chip-row>
                            <input placeholder="New Label..." [matChipInputFor]="chipGrid"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                                (matChipInputTokenEnd)="add($event)" maxlength="100" />
                        </mat-chip-grid>
                    </mat-form-field>
                </div>
            </div>

            <div class="divider"></div>
            <!-- Dates -->
            <div class="date-container">
                <!-- Start Date -->
                <div class="row align-items-center">
                    <div class="col-md-2"><label>Start Date</label></div>
                    <div class="col-md-10">
                        <mat-form-field appearance="outline" class="custom-date-picker">
                            <mat-icon matPrefix class="custom-calendar-icon" (click)="picker1.open()"><img
                                    src="assets/images/uil_calender.svg" alt=""></mat-icon>
                            <input matInput [matDatepicker]="picker1" formControlName="startDate"
                                placeholder="Select Date">
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

                <!-- Due Date -->
                <div class="row align-items-center">
                    <div class="col-md-2"><label>Due Date</label></div>
                    <div class="col-md-10">
                        <mat-form-field appearance="outline" class="custom-date-picker">
                            <mat-icon matPrefix class="custom-calendar-icon" (click)="picker2.open()"><img
                                    src="assets/images/uil_calender.svg" alt=""></mat-icon>
                            <input matInput [matDatepicker]="picker2" formControlName="deadline"
                                placeholder="Select Date">
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

                <!-- Delivered Date -->
                <div class="row align-items-center">
                    <div class="col-md-2"><label>Delivered Date</label></div>
                    <div class="col-md-10">
                        <mat-form-field appearance="outline" class="custom-date-picker">
                            <mat-icon matPrefix class="custom-calendar-icon" (click)="picker3.open()"><img
                                    src="assets/images/uil_calender.svg" alt=""></mat-icon>
                            <input matInput [matDatepicker]="picker3" formControlName="deliveredDate"
                                placeholder="Select Date">
                            <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <!-- Issue Type -->
            <div class="row align-items-center">
                <div class="col-md-2"><label for="issue-type">Issue Type *</label></div>
                <div class="col-md-10">
                    <mat-form-field appearance="outline" class="custom-dropdown">
                        <mat-select formControlName="type" multiple="false" panelClass="custom-select-panel">
                            <mat-option value="" disabled hidden>Select Issue Type</mat-option>
                            <mat-option value="Bug">Bug</mat-option>
                            <mat-option value="Feature">Feature</mat-option>
                            <mat-option value="Task">Task</mat-option>
                            <mat-option value="Epic">Epic</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <!-- Status -->
            <div class="row align-items-center">
                <div class="col-md-2">
                    <label for="issue-type">Status *</label>
                </div>
                <div class="col-md-10">
                    <mat-button-toggle-group formControlName="status" aria-label="Issue Status" class="w-100">
                        <mat-button-toggle *ngFor="let status of statuses" [value]="status.value">
                            <img [src]="status.icon" alt="{{ status.label }} Icon" class="status-icon" />
                            {{ status.label }}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>
            <!-- Priority -->
            <div class="row align-items-center">
                <div class="col-md-2">
                    <label for="issue-type">Priority *</label>
                </div>
                <div class="col-md-10">
                    <mat-button-toggle-group formControlName="priority" aria-label="Issue Priority">
                        <mat-button-toggle *ngFor="let priority of Priorities" [value]="priority.value"
                            [class]="priority.value">
                            <img [src]="priority.icon" alt="{{ priority.label }} Icon" class="priority-icon" />
                            {{ priority.label }}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>

        </form>


    </ng-template>
</ng-template>