.issue-details-container {
    /* padding: 1rem; */
    font-size: 0.95rem;
}

.issue-details-container strong {
    font-weight: 600;
}

.issue-details-container img {
    object-fit: cover;
}

.issue-details {
    font-size: 0.95rem;
}

.card-title {
    font-size: 1rem;
}

.badge {
    font-size: 0.75rem;
}

.priority-icon {
    height: 18px;
    width: 18px;
}

/* //////////////////////// */
/* Smooth dark container */
/* Divider line */
/* .divider {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 1rem 0;
} */

/* Cards (like description, created by, etc.) */
.card {
    background-color: rgba(13, 19, 44, 0.7);
    color: #ddd;
    border-radius: 1rem;
    border: none;
}

.card-issue-view {
    /* background-color: rgba(13, 19, 44, 0.75); */
    background-color: rgba(255, 255, 255, 0.02);
    /* color: #ddd; */
    border-radius: 1rem;
    /* border: none; */
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    /* border: 1px solid rgba(255, 255, 255, 0.08); */
    font-size: 0.9rem;
    height: 100%;
}

/* Card titles */
.card-title,
.card-body h6 {
    color: rgb(130, 175, 219);
}



/* Text-muted override for dark */

.date-section span {
    font-weight: 600;
    color: #cdc7ee;
    padding-inline-end: 0.2rem;
}

.date-section {
    /* background-color: rgba(255, 255, 255, 0.02); */
    background-color: rgba(13, 19, 44, 0.7);

    border-radius: 1rem;
    padding: 1rem 1.5rem;
    /* border: 1px solid rgba(255, 255, 255, 0.08); */
    font-size: 0.9rem;
}

/* Footer buttons */
/* .modal-footer button.confirm-btn {
    background-color: #ff69b4;
    color: #fff;
    transition: background-color 0.2s ease;
}

.modal-footer button.confirm-btn:hover {
    background-color: #ff85c1;
} */

/* Cancel button */
/* .modal-footer .cancel-btn {
    background-color: transparent;
    color: #ccc;
    border: 1px solid #555;
}

.modal-footer .cancel-btn:hover {
    color: #fff;
    border-color: #888;
} */

.assign-dropdown {
    max-height: 250px;
    overflow-y: auto;
    z-index: 10;
}

/* ///////////////// */
/* UPload */
.choose-file-btn {
    transition: all 0.3s ease;
    /* border: 2px dashed #6c63ff; */
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    /* background-color: #252748; */
    color: white;

    &:hover {
        /* background-color: #4949d0; */
        /* transform: scale(1.03); */
        /* box-shadow: 0 0 10px #6c63ff66; */
    }

    &.file-selected {
        border-color: #4c78af;
        background-color: #191b362b;
        color: #4c78af;
    }

    img {
        transition: transform 0.3s ease;
    }

    &:hover img {
        transform: rotate(10deg) scale(1.1);
    }
}

/* //////// */
.label-badge {
    border: 1px solid rgba(204, 153, 255, 0.3);
    background-color: rgba(110, 52, 146, 0.575);
    color: #eecaff !important;
    transition: background-color 0.3s ease;
}

.label-badge:hover {
    background-color: rgba(110, 52, 146, 0.3);
}

/* Label gradients/backgrounds with transparency */
.bg-label-0 {
    background-color: rgba(169, 124, 209, 0.2);
    color: #d69eff;
}

.bg-label-1 {
    background-color: rgba(220, 149, 231, 0.15);
    color: #f2b4ff;
}

.bg-label-2 {
    background-color: rgba(184, 128, 212, 0.12);
    color: #cbaaff;
}

.bg-label-3 {
    background-color: rgba(179, 103, 223, 0.18);
    color: #e5c6ff;
}

.bg-label-4 {
    background-color: rgba(174, 94, 249, 0.15);
    color: #d4b3ff;
}



.max-height-scroll {
    max-height: 120px;
    overflow-y: auto;
}

/* ////////////////////////// */
.attach {
    background-color: #060d29;
    /* color: #4c78af; */
    color: rgb(130, 175, 219);
}


.mat-form-field {
    font-size: 0.95rem;
    background-color: #060d29;
}

mat-label {
    color: rgb(130, 175, 219) !important;
}

.backlogOrSprint-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px
}

.backlogOrSprint-logo img {
    width: 100%;
    height: 100%;
}

.dropdown-sprints-dates {
    color: #76778b;
    font-size: smaller;
    font-weight: 400;
}

::ng-deep .mat-mdc-tooltip .sprint-tooltip-class {
    background-color: #878de8 !important;
    color: white;
    font-weight: 500;
    font-size: 13px;
    padding: 6px 12px;
    border-radius: 8px;
}