<div class="my-4 min-vh-100">
  <div class="BG" [ngClass]="{ expand: isSidebarCollapsed }">
    <app-dashboard-loader *ngIf="loading"></app-dashboard-loader>
    <div class="container" *ngIf="company && !loading && showCompany">
      <div class="row g-4" [@slideInUp]>
        <div class="col-12 mx-auto">
          <div class="card position-relative p-0 company-div">
            <div class="image-gradient">
              <img
                class="company-img"
                [src]="
                  isValidUrl(company.image)
                    ? company.image
                    : 'assets/images/cover.jpg'
                "
                alt="Company Cover"
              />
              <div class="shine"></div>
            </div>
            <div class="company-name">
              <h2>{{ company.name }}</h2>
              <p class="m-0 p-0">
                {{
                  company.description
                    ? company.description
                    : "No Description Available"
                }}
              </p>
            </div>
            <div class="company-actions gap-2">
              @if (isOwner) {
              <div class="header-buttons gap-2">
                <div class="btn auth-form-container" (click)="update()">
                  <i
                    class="fa-solid fa-pen edit-icon"
                    style="color: var(--mainLightBlueColor)"
                  ></i>
                </div>
                <div class="btn auth-form-container" (click)="delete()">
                  <i
                    class="fa-solid fa-trash trash-icon"
                    style="color: var(--mainLightBlueColor)"
                  ></i>
                </div>
              </div>
              }
              <div
                class="btn auth-form-container"
                (click)="onPinTenant($event)"
              >
                <i class="fa-solid fa-map-pin pin-icon"></i>
              </div>
            </div>
            <div class="auth-form-container content d-none d-md-block">
              <div class="card-body">
                @if(isOwner) {
                <div class="code">
                  <h5>
                    <i
                      class="fa-regular fa-file-lines pe-1"
                      style="color: var(--mainLightBlueColor)"
                    ></i>
                    Company Code
                  </h5>
                  <div class="copy-text d-flex align-items-center gap-2">
                    <p>{{ company.tenantCode }}</p>
                    <div (click)="copyText('code')">
                      <span *ngIf="!copied.code">
                        <i
                          class="fa-clipboard fa-regular"
                          style="color: rgba(36, 89, 255, 0.988)"
                        ></i>
                      </span>
                      <span *ngIf="copied.code">
                        <i class="fa-check fa-solid" style="color: #28a745"></i>
                      </span>
                    </div>
                  </div>
                </div>
                }
                <div class="url">
                  <h5>
                    <i
                      class="fa-solid fa-link pe-1"
                      style="color: var(--mainLightBlueColor)"
                    ></i>
                    Company URL
                  </h5>
                  <div class="copy-text d-flex align-items-center gap-2">
                    <p>
                      {{
                        isValidUrl(company.tenantUrl)
                          ? company.tenantUrl
                          : "No Company URL Available"
                      }}
                    </p>
                    <div
                      [style.display]="
                        isValidUrl(company.tenantUrl) ? 'block' : 'none'
                      "
                      (click)="copyText('url')"
                    >
                      <span *ngIf="!copied.url">
                        <i
                          class="fa-clipboard fa-regular"
                          style="color: #2459fffc"
                        ></i>
                      </span>
                      <span *ngIf="copied.url">
                        <i class="fa-check fa-solid" style="color: #28a745"></i>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="tags">
                  <h5>
                    <i
                      class="fa-solid fa-hashtag pe-1"
                      style="color: var(--mainLightBlueColor)"
                    ></i>
                    Tags
                  </h5>
                  @if(company.keywords) {
                  <mat-chip-set>
                    <mat-chip
                      class="tag-chip"
                      *ngFor="
                        let tag of company?.keywords
                          ? company?.keywords?.split(' ')
                          : []
                      "
                      >{{ tag }}</mat-chip
                    >
                  </mat-chip-set>
                  } @else {
                  <p>No Tags Available</p>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="auth-form-container content d-block d-md-none">
          <div class="card-body">
            @if(isOwner) {
            <div class="code">
              <h5>
                <i
                  class="fa-regular fa-file-lines pe-1"
                  style="color: var(--mainLightBlueColor)"
                ></i>
                Company Code
              </h5>
              <div class="copy-text d-flex align-items-center gap-2">
                <p>{{ company.tenantCode }}</p>
                <div (click)="copyText('code')">
                  <span *ngIf="!copied.code">
                    <i
                      class="fa-clipboard fa-regular"
                      style="color: #2459fffc"
                    ></i>
                  </span>
                  <span *ngIf="copied.code">
                    <i class="fa-check fa-solid" style="color: #720e88"></i>
                  </span>
                </div>
              </div>
            </div>
            }
            <div class="url">
              <h5>
                <i
                  class="fa-solid fa-link pe-1"
                  style="color: var(--mainLightBlueColor)"
                ></i>
                Company URL
              </h5>
              <div class="copy-text d-flex align-items-center gap-2">
                <p>
                  {{
                    isValidUrl(company.tenantUrl)
                      ? company.tenantUrl
                      : "No Company URL Available"
                  }}
                </p>
                <div
                  [style.display]="
                    isValidUrl(company.tenantUrl) ? 'block' : 'none'
                  "
                  (click)="copyText('url')"
                >
                  <span *ngIf="!copied.url">
                    <i
                      class="fa-clipboard fa-regular"
                      style="color: #2459fffc"
                    ></i>
                  </span>
                  <span *ngIf="copied.url">
                    <i class="fa-check fa-solid" style="color: #28a745"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="tags">
              <h5>
                <i
                  class="fa-solid fa-hashtag pe-1"
                  style="color: var(--mainLightBlueColor)"
                ></i>
                Tags
              </h5>
              @if(company.keywords) {
              <mat-chip-set>
                <mat-chip
                  class="tag-chip"
                  *ngFor="
                    let tag of company?.keywords
                      ? company?.keywords?.split(' ')
                      : []
                  "
                  >{{ tag }}</mat-chip
                >
              </mat-chip-set>
              } @else {
              <p>No Tags Available</p>
              }
            </div>
          </div>
        </div>
        <div class="col-md-4 responsive">
          <div class="card card-owner">
            <div class="card-body">
              <div class="owner-header">
                <h4 style="font-family: var(--headerFontFamily)">
                  <i
                    class="fa-regular fa-address-card pe-1 fa-lg"
                    style="color: var(--mainLightBlueColor)"
                  ></i>
                  Owner Details
                </h4>
              </div>
              <div class="d-flex align-items-center gap-2 mt-3">
                <!--owner image-->
                <img
                  class="owner-img"
                  [src]="
                    isValidUrl(company.owner.imageUrl)
                      ? company.owner.imageUrl
                      : 'assets/images/blank profile.svg'
                  "
                  alt="Owner Image"
                />
                <div class="owner">
                  <h5 class="mb-0 text-capitalize">
                    {{ company.owner.firstName }}
                    {{ company.owner.lastName }}
                  </h5>
                  <p class="m-0 p-0">
                    {{ company.owner.userName }}
                  </p>
                </div>
              </div>
              <div class="contact mt-5">
                <h4>Contact Info</h4>
                <div
                  *ngFor="let contact of contactInfo"
                  class="d-flex align-items-center gap-1 mb-2"
                >
                  <img [src]="contact.icon" alt="{{ contact.label }}" />
                  <p class="m-0 p-0">
                    {{ contact.label }}: {{ contact.value }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card p-2 company-members">
            <div class="card-body">
              <div class="header">
                <h2 class="h6 m-0">
                  <img
                    src="assets/images/sidebar icons/People Working Together.svg"
                  />
                  Company Members
                </h2>
                <a
                  class="custom-btn text-center add-members-btn"
                  (click)="openInviteModal(); $event.preventDefault()"
                  >Add Members</a
                >
              </div>
              <hr />
              <div class="members-class">
                <ng-container
                  *ngFor="let member of company.joinedUsers; let last = last"
                >
                  <div class="gap-3 company-member">
                    <div class="member-data">
                      <img
                        [src]="
                          isValidUrl(member.imageUrl)
                            ? member?.imageUrl
                            : 'assets/images/blank profile.svg'
                        "
                        alt=""
                      />
                      <div class="d-flex flex-column">
                        <p class="m-0 p-0 text-capitalize name">
                          {{ member?.firstName }} {{ member?.lastName }}
                        </p>
                        <p class="m-0 p-0 username">{{ member?.userName }}</p>
                      </div>
                    </div>
                    <!-- <div class="member-role">
                      <span class="dev-text-muted">{{ member?.role }}</span>
                    </div> -->
                  </div>
                  <hr *ngIf="!last" />
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 responsive">
          <div class="card h-100 projects-dashboard">
            <div class="card-body">
              <div class="header">
                <h4 style="font-family: var(--headerFontFamily)">
                  Project Overview
                </h4>
              </div>
              <div class="dashboard mt-3">
                <app-all-company-projects-dashboard
                  [companyId]="company.id"
                ></app-all-company-projects-dashboard>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card project-card h-100">
            <div class="card-body">
              <div class="project-header">
                <h2 class="gap-2">
                  <img
                    src="assets/images/dashboard icons/Group of Projects.svg"
                    alt=""
                  />
                  <span>Projects</span>
                </h2>
                <span
                  (click)="openProj()"
                  class="add-project-btn"
                  *ngIf="company.owner.id === userId"
                >
                  <a class="custom-btn text-center btn"
                    ><img
                      src="assets/images/sidebar icons/Plus.svg"
                      class="pe-2"
                      alt=""
                    />
                    Add Project</a
                  >
                </span>
              </div>
              <div class="row flex-nowrap overflow-x-scroll g-3 my-3">
                <div
                  class="d-flex justify-content-center align-items-center w-100"
                  style="min-height: 300px"
                  *ngIf="projectLoading"
                >
                  <app-dashboard-loader></app-dashboard-loader>
                </div>
                <!-- <div
                  class="d-flex justify-content-center align-items-center w-100"
                  style="min-height: 300px"
                  *ngIf="projectsGlobalCounter === 0 && !projectLoading"
                >
                  <p>No projects available for this company.</p>
                </div> -->
                @if(!projectLoading) {
                <div
                  class="col-md-4"
                  *ngFor="let category of ProjectCategories"
                >
                  <div class="wrapper gap-3 mb-3">
                    <div class="tag-box" [ngClass]="category.class">
                      <div class="tag-name">
                        <img [src]="category.icon" alt="" />
                        <p>{{ category.name }}</p>
                      </div>
                      <span style="color: var(--mainLightBlueColor)">{{
                        category.projects.length
                      }}</span>
                    </div>
                    <div class="project-body">
                      @if(category.projects.length === 0) {
                      <div
                        class="d-flex justify-content-center align-items-center w-100"
                        style="min-height: 100%"
                      >
                        <p>No projects available.</p>
                      </div>
                      }
                      <div
                        class="col-md-12"
                        *ngFor="let project of category.projects"
                      >
                        <div class="card p-1">
                          <div class="card-body">
                            <div class="priority-tag mb-2">
                              <p
                                class="p-0 mb-2 gap-1"
                                [ngClass]="getPriorityClass(project.priority)"
                              >
                                <img
                                  [src]="getPriorityImage(project.priority)"
                                  alt=""
                                />
                                {{ project.priority }}
                              </p>
                            </div>
                            <div class="project-name">
                              <h3>{{ project.title }}</h3>
                            </div>
                            <div class="project-description">
                              <p>
                                {{
                                  project.description
                                    ? project.description
                                    : "No Description Available"
                                }}
                              </p>
                            </div>
                            <!-- <div class="project-progress mb-3">
                              <div
                                class="progress-bar"
                                [style.width.%]="
                                  projectSprintProgress[project.id]
                                "
                              ></div>
                            </div> -->
                            <!-- <p class="mt-2 progress-percent">Progress 65%</p> -->
                            <div class="project-date">
                              <p class="p-0 m-0">
                                <i class="fa-solid fa-calendar-days pe-2"></i
                                >Start
                                <span class="ps-1">{{
                                  project.startDate
                                    ? (project.startDate | date : "d MMM YYYY")
                                    : "&#8212; | &#8212;"
                                }}</span>
                                <br />
                              </p>
                              <p class="p-0 m-0">
                                <i class="fa-solid fa-calendar-days pe-2"></i
                                >Due
                                <span class="ps-2">{{
                                  project.dueDate
                                    ? (project.dueDate | date : "d MMM YYYY")
                                    : "&#8212; | &#8212;"
                                }}</span>
                              </p>
                            </div>
                            <div class="button-options mt-3">
                              <div class="project-members">
                                <div
                                  class="member-stack"
                                  (mouseenter)="hover = true"
                                  (mouseleave)="hover = false"
                                >
                                  <ng-container
                                    *ngFor="
                                      let member of project?.members;
                                      let i = index
                                    "
                                  >
                                    <img
                                      [src]="
                                        isValidUrl(member.imageUrl)
                                          ? member.imageUrl
                                          : 'assets/images/blank profile.svg'
                                      "
                                      [ngStyle]="{
                                        left: hover
                                          ? i * 30 + 'px'
                                          : i * 16 + 'px',
                                        zIndex: 10 - i
                                      }"
                                      class="member-avatar"
                                      alt="member"
                                    />
                                  </ng-container>

                                  <span
                                    *ngIf="project.members?.length ?? 0 > 3"
                                    class="extra-count"
                                  >
                                    @if (project.members.length > 3) { +{{
                                      project.members.length - 3
                                    }}
                                    }
                                  </span>
                                </div>
                              </div>
                              <!-- <div class="options-imgs gap-2">
                                <img
                                  src="assets/images/issue view/Add File.svg"
                                  alt=""
                                />
                                <img
                                  src="assets/images/issue view/Edit Chat History.svg"
                                  alt=""
                                />
                              </div> -->
                            </div>
                            <div
                              class="project-details d-flex justify-content-end"
                            >
                              <a
                                class="custom-btn text-center btn mt-3"
                                (click)="selectProject(project.id)"
                                >View Details</a
                              >
                            </div>
                          </div>
                          <div class="shine"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
