<div class="my-4 min-vh-100">
  <div class="BG" [ngClass]="{ expand: isSidebarCollapsed }">
    <div class="container">
      <div class="row ps-lg-1 g-3">
        <!-- <div class="col-md-6">
          <div class="card cardBottomRight h-100">
            <div class="card-body">
              <div class="header">
                <h2>Sprint Manager</h2>
              </div>
              <hr />
              @if(sprintDetails) { @for(sprint of sprintDetails ; track
              sprint.id) {
              <div class="profile gap-2">
                <img [src]="
                    sprint.createdBy.imageUrl
                      ? sprint.createdBy.imageUrl
                      : 'assets/images/scrum master profile photo.svg'
                  " alt="scrum master profile icon" />
                <div class="scrum-master-header">
                  <h3 class="mb-0">
                    {{ sprint.createdBy.firstName }}
                    {{ sprint.createdBy.lastName }}
                  </h3>
                  <p>Scrum Master</p>
                </div>
              </div>
              <div class="contact mt-2">
                <h4>Contact Info</h4>
                <div class="email gap-1 mb-2">
                  <img src="assets/images/Email.svg" alt="" />
                  <p>Email: John<span>&#64;</span>company.com</p>
                </div>
                <div class="linkedIn gap-1 mb-2">
                  <img src="assets/images/LinkedIn.svg" alt="" />
                  <p>LinkedIn: Profile</p>
                  <img src="assets/images/External Link.svg" alt="" />
                </div>
                <div class="whatsapp gap-1 mb-2">
                  <img src="assets/images/WhatsApp.svg" alt="" />
                  <p>WhatsApp: {{ sprint.createdBy.phoneNumber }}</p>
                </div>
              </div>
              } }
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card cardBottomLeft h-100 project-members">
            <div class="card-body">
              <div class="header">
                <h2>Sprint Details</h2>
              </div>
              <hr />
              @for (sprint of sprintDetails; track $index) {
              <div class="sprint-details">
                <h5>
                  <div class="sprint-data">
                    <img src="assets/images/issue view/sprint details/Sprint Iteration.svg" alt="" />
                    <span>Sprint Title</span>
                  </div>
                  <p>{{ sprint.title }}</p>
                </h5>
                <h5>
                  <div class="sprint-data">
                    <img src="assets/images/issue view/sprint details/Schedule.svg" alt="" />
                    <span>Start Date</span>
                  </div>
                  <p>{{ sprint.startDate }}</p>
                </h5>
                <h5>
                  <div class="sprint-data">
                    <img src="assets/images/issue view/sprint details/Clock Alert.svg" alt="" />
                    <span>Due Date</span>
                  </div>
                  <p>{{ sprint.endDate }}</p>
                </h5>
                <h5>
                  <div class="sprint-data">
                    <img src="assets/images/issue view/sprint details/Spinner.svg" alt="" />
                    <span>Status</span>
                  </div>
                  <p>{{ sprint.status }}</p>
                </h5>
                <h5>
                  <div class="sprint-data">
                    <img src="assets/images/issue view/sprint details/Playlist.svg" alt="" />
                    <span>Description</span>
                  </div>
                  <p>{{ sprint.description }}</p>
                </h5>
              </div>
              }
            </div>
          </div>
        </div> -->
        @if(sprintDetails) { @for(sprint of sprintDetails ; track sprint.id) {
        <div class="col-md-12">
          <div class="mb-3 d-flex justify-content-between align-items-center">
            <div class="sprint">
              <div class="sprint-title-description">
                <h1 class="sprint-title">
                  {{ sprint.title }}
                </h1>
                <p class="sprint-description pb-4">
                  {{ sprint.description }}
                </p>
              </div>
              <div class="sprint-data d-flex gap-3">
                <p class="start-date">Start Date: {{ sprint.startDate }}</p>
                <p class="end-date">End Date: {{ sprint.endDate }}</p>
                <p class="sprint-status">Status: {{ sprint.status }}</p>
              </div>
            </div>
            <div class="sprint-actions gap-2">
              <div class="header-buttons gap-2">
                <div class="btn auth-form-container" (click)="updateSprintModal()">
                  <i class="fa-solid fa-pen edit-icon" style="color: var(--mainLightBlueColor)"></i>
                </div>
                <div class="btn auth-form-container" (click)="
                    deleteSprintModal(sprint.id, sprint.title, sprint.projectId)
                  ">
                  <i class="fa-solid fa-trash trash-icon" style="color: var(--mainLightBlueColor)"></i>
                </div>
              </div>
              <div class="btn auth-form-container">
                <i class="fa-solid fa-map-pin pin-icon"></i>
              </div>
            </div>
          </div>
        </div>
        } }
        <div class="col-md-12">
          <div class="dashboard-card h-100">
            <div class="card-body">
              <div class="issue-header">
                <h2 class="gap-2">
                  <img src="assets/images/issue view/To Do.svg" alt="" />
                  <span class="text-light">Issues</span>
                </h2>

                <span class="add-issues-btn" (click)="openCreateIssue()">
                  <a class="custom-btn text-center"><img src="assets/images/sidebar icons/Plus.svg" class="pe-2"
                      alt="" />
                    Add Issues</a>
                  <!-- <a class="custom-btn text-center"
                    ><img
                      src="assets/images/sidebar icons/Plus.svg"
                      class="pe-2"
                      alt=""
                    />
                    Add Issue</a
                  > -->
                </span>
              </div>

              <div class="row flex-nowrap overflow-x-scroll g-4 px-3 pt-3 pb-4">
                <div class="d-flex justify-content-center align-items-center w-100" style="min-height: 300px"
                  *ngIf="issueLoading">
                  <app-dashboard-loader></app-dashboard-loader>
                </div>
                @if(!issueLoading) {
                <div class="row-cols-md-4 col-lg-4" *ngFor="let category of issueCategories">
                  <div class="wrapper">
                    <div class="Updates-tag d-flex justify-content-between">
                      <div class="tag-name d-flex align-items-center gap-2 mb-3">
                        <img [src]="category.icon" alt="" />
                        <h2 class="m-0">{{ category.name }}</h2>
                      </div>
                      <!-- <span [ngClass]="getSpanStatus(category.status)">{{ -->
                      <span>{{ category.issues.length }}</span>
                    </div>

                    <div class="wrapper-card-container overflow-y-auto" cdkDropList [cdkDropListData]="category.issues"
                      [id]="category.status" [cdkDropListConnectedTo]="connectedDropListsIds" (cdkDropListDropped)="
                        onIssueDropped($event, category.status)
                      ">
                      <div class="no-issues d-flex justify-content-center align-items-center h-100"
                        *ngIf="category.issues.length === 0">
                        <p>No issues found</p>
                      </div>
                      <div class="wrapper-card" *ngFor="let issue of category.issues" cdkDrag [cdkDragData]="issue">
                        <div class="row">
                          <div class="col-md-2 d-flex justify-content-center align-items-center">
                            <div class="priority-circle-container glass-circle-container">
                              <img [src]="getPriorityImage(issue.priority)" alt="" />
                            </div>
                          </div>
                          <div class="col-md-10">
                            <div class="wrapper-card-content">
                              <div class="wrapper-card-header d-flex justify-content-between align-items-center">
                                <h3 (click)="openIssueView(issue.id)" style="cursor: pointer"
                                  class="wrapper-card-title text-truncate">
                                  {{ issue.title }}
                                </h3>
                                <div class="wrapper-card-date">
                                  {{ issue.startDate }} | {{ issue.deadline }}
                                </div>
                              </div>
                              <div class="wrapper-card-center-body d-flex justify-content-between align-items-center">
                                <p>Type: {{ issue.type }}</p>
                                <div class="assigned-members d-flex align-items-center justify-content-end">
                                  <div *ngFor="let user of issue.assignedUsers">
                                    <img [src]="user.imageUrl" *ngIf="user.imageUrl" alt="{{ user.firstName }} {{
                                        user.lastName
                                      }}" class="assigned-member cursor-pointer rounded-circle" style="
                                        width: 22px;
                                        height: 22px;
                                        margin-right: -5px;
                                      " />

                                    <img src="assets/images/user-img-not-found.jpg" *ngIf="!user.imageUrl" alt="{{ user.firstName }} {{
                                        user.lastName
                                      }}" class="assigned-member cursor-pointer rounded-circle"
                                      style="width: 22px; height: 22px" />
                                  </div>
                                </div>
                              </div>

                              <div class="wrapper-card-footer wrapper-card-meta d-flex justify-content-between mt-2">
                                <div class="card-wrapper-labels d-flex align-items-center gap-2">
                                  <span class="burble-tag" *ngFor="
                                      let label of issue.labels
                                        ?.split(',')
                                        ?.slice(0, 3) || [];
                                      let i = index
                                    " [matTooltip]="
                                      label.trim().length > 15
                                        ? label.trim()
                                        : ''
                                    " [matTooltipDisabled]="
                                      label.trim().length <= 15
                                    " matTooltipPosition="above">
                                    {{ label.trim() }}
                                  </span>
                                </div>

                                <span class="view-details-btn" (click)="openIssueView(issue.id)"
                                  style="cursor: pointer">
                                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>