<div class="container-fluid">

  <div class="main-container my-4 BG" [ngClass]="{ expand: isSidebarCollapsed }">
    <!-- Dashboard Content -->
    <div class="GanttChart">
      <app-visualization></app-visualization>
    </div>
    <div class="row g-3 mt-2">
      <div class="col-lg-6">
        <div class="card cardBottomRight h-100">
          <div class="card-body ">
            <div class="headTitle mb-4">
              <img src="assets/images/dashboard icons/Group of Projects.svg" alt="projects icon" />
              <h3 class="m-0">Projects</h3>
            </div>
            <ul>
              @for (project of AllProjectList; track $index)
              {
              <li>
                <div class="project card-sub-title ">
                  <img src="assets/images/dashboard icons/list.svg" alt="" />
                  <span class="fs-5">{{capitalizeTitles(project.name)}}</span>
                </div>
                <span class="text-white-50">In {{project.tenant.name}} company</span>
              </li>
              }
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card cardBottomLeft h-100">
          <div class="card-body">
            <div class="headTitle mb-4">
              <img src="assets/images/dashboard icons/Checklist.svg" alt="Issues icon" />
              <h3 class="m-0">Issues</h3>
            </div>
            <ul>
              @for (issue of AllIssueList; track $index)
              {
              <li>
                <div class="issues card-sub-title">
                  <img src="assets/images/dashboard icons/list.svg" alt="" />
                  <span class="fs-5">{{capitalizeTitles(issue.title)}}</span>
                </div>
                <span class="text-white-50">In {{capitalizeTitles(issue.projectName)}} Project</span>
              </li>
              }
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card cardTopRight">
          <div class="card-body">
            <div class="headTitle mb-4">
              <img src="assets/images/dashboard icons/Pin.svg" alt="Pin icon" />
              <h3 class="m-0">Pinned</h3>
            </div>
            <!-- <ul> -->
            <!-- <li> -->
            <!-- <app-tree [nodes]="treeData()"></app-tree> -->
            <!-- </li> -->
            @for (pin of pinnedIssues; track $index)
            {
            <li>
              <div class="pinned">
                <img src="assets/images/dashboard icons/Group 5.svg" alt="" />
                <span class="ps-1 fs-5">{{pin.title}}</span>
              </div>
              <span class="text-white-50">in OS company</span>
            </li>
            }
            <!-- </ul> -->
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card cardTopLeft">
          <div class="card-body mb-2">
            <div class="headTitle gap-2 mb-4">
              <img src="assets/images/dashboard icons/Calendar.svg" alt="Calendar icon" />
              <h3 class="m-0">Issues Calendar</h3>
            </div>
            <div class="px-5">
              <app-calendar></app-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>