.BG {
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transform: translateX(0px);
}

/* When Sidebar Collapses, Content Expands Left */
.BG.expand {
  transform: translateX(-30px);
  width: calc(100% + 100px);
  margin-left: -100px;
}


.headTitle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headTitle h3 {
  font-family: var(--headerFontFamily);
}

.card-sub-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-inline: 1rem;
}

.Pinnedcard-sub-title {
  padding-inline: 0.5rem;
}


li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 10px; */
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.topbar {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.dashboard {
  flex: 1;
  padding: 20px;
}

/* //////////////////// */
/* dropdwon */

.dropdown-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  /* background: #f8f9fa; */
  border-radius: 5px;
  margin-bottom: 5px;
  transition: background 0.3s;

  /* &:hover {
    background: #e2e6ea;
  } */

  .dropdown-icon {
    margin-left: auto;
    font-size: 14px;
  }
}

ul {
  list-style-type: none;
  padding-left: 20px;

  li {
    padding: 5px 0;

    a {
      text-decoration: none;
      color: #007bff;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}