<div class="container-fluid">

  <div class="main-container my-4 BG" [ngClass]="{ expand: isSidebarCollapsed }">
    <!-- Dashboard Content -->
    <div class="GanttChart">
      <app-visualization></app-visualization>
    </div>
    <div class="row g-3 mt-2">
      <div class="col-lg-6">
        <div class="card h-100 cardBottomRight urgent-card">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="headTitle">
              <img src="assets/images/dashboard icons/urgent alarm.svg" width="30" class="me-2" alt="Urgent alarm icon">
              <h3 class="mb-0">Urgent Issues</h3>
            </div>
            <span class="badge bg-danger">Attention</span>
          </div>

          <div class="urgent-scroll">
            <ul class="list-unstyled mb-0 me-1" *ngIf="UrgentIssues.length>0">
              <li class="issue-item {{ issue.priority.toLowerCase() }}" *ngFor="let issue of UrgentIssues;">
                <div class="d-flex flex-column">
                  <div class="d-flex justify-content-between align-items-center mb-1">
                    <span class="text-capitalize me-1  fw-semibold cursor-pointer" (click)="loadIssue(issue.id)">
                      {{ issue.title }}
                    </span>
                    <img *ngIf="getPriorityIcon(issue.priority)" [src]="getPriorityIcon(issue.priority)" width="20"
                      height="20" [alt]="issue.priority + ' priority icon'" [matTooltip]="issue.priority + ' priority'"
                      matTooltipPosition="above" matTooltipClass="my-custom-tooltip" />

                  </div>
                  <small class="dev-text-muted text-capitalize cursor-pointer"
                    routerLink="/MyDashboard/Project/{{ issue.projectId }}">
                    <i class="fa-solid fa-folder"></i>

                    {{ issue.projectName}}
                  </small>
                </div>
                <div class="d-flex justify-content-between  mt-1">
                </div>
                <div class="d-flex flex-column align-items-end">
                  <small class="status-badge text-center" matTooltip="status" matTooltipPosition="left"
                    matTooltipClass="my-custom-tooltip" [ngClass]="issue.status.toLowerCase()"
                    *ngIf="issue.status.toLowerCase() != 'in progress'">{{ issue.status
                    }}</small>
                  <small class="status-badge inProgress" *ngIf="issue.status.toLowerCase() === 'in progress'"
                    matTooltip="status" matTooltipPosition="left" matTooltipClass="my-custom-tooltip">{{ issue.status
                    }}
                  </small>
                  <!-- Deadline Section -->
                  <div class="Deadline d-flex justify-content-between mt-1"
                    matTooltip="{{issue.deadline| date: 'mediumDate'}}" matTooltipPosition="above"
                    matTooltipClass="my-custom-tooltip">
                    <small class="text-light">

                      <span>
                        Deadline
                        <!-- <span class="ms-1">
                          {{ issue.deadline | date: 'mediumDate' }}
                        </span> -->
                      </span>
                    </small>

                    <small class="dev-text-muted">(
                      <i [ngClass]="{
                        'fa-solid fa-triangle-exclamation text-danger': getDeadlineStatus(issue.deadline) === 'passed',
                        'fa-regular fa-clock text-warning': getDeadlineStatus(issue.deadline) === 'upcoming'
                      }"></i>
                      {{ getDeadlineStatus(issue.deadline) === 'passed' ? 'Overdue' : 'Soon' }})
                    </small>
                  </div>

                </div>
              </li>

            </ul>
            <div class="d-flex justify-content-center align-items-center dev-text-muted h-100"
              *ngIf="UrgentIssues.length ==0">
              <p class="dev-text-muted">No Issues found yet.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card h-100 cardBottomLeft recent-projects-card glass-effect">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="headTitle d-flex align-items-center">
              <img src="assets/images/dashboard icons/Group of Projects.svg" width="28" class="me-2"
                alt="Projects icon" />
              <h3 class="m-0">Your Projects</h3>
            </div>
            <a class="small custom-btn text-center text-decoration-none" routerLink="/MyDashboard/allProjects">
              View All
            </a>
          </div>
          <div class="recent-scroll">
            <div class="h-100" *ngIf="recentProjects.length > 0 ||mostVisitedProjects.length>0">
              <div class="recentProjects" [@fadeSlideAnimation] *ngIf="activeTab === 'recent'">
                <ul class="list-unstyled mb-0 me-1">
                  @for (project of recentProjects; track $index) {
                  <li class="project-item">
                    <div class="d-flex justify-content-between align-items-center w-100">
                      <div>
                        <h6 class="mb-1 text-capitalize fw-semibold text-light cursor-pointer"
                          routerLink="/MyDashboard/Project/{{ project.id }}">
                          {{ project.name }}
                        </h6>

                        <small class="dev-text-muted">
                          <i class="fa-solid fa-calendar-days me-1"></i>
                          {{ project.creationDate | date: 'mediumDate' }}
                        </small>
                      </div>
                      <span class="status-badge text-capitalize" [ngClass]="project.status.toLowerCase()">
                        {{ project.status }}
                      </span>
                    </div>
                  </li>
                  }
                </ul>

              </div>
              <div class="mostVisitedProjects h-100" [@fadeSlideAnimation] *ngIf="activeTab === 'visited'">
                <ul class="list-unstyled mb-0 me-1" *ngIf="mostVisitedProjects.length>0">
                  @for (project of mostVisitedProjects; track $index) {
                  <li class="project-item">
                    <div class="d-flex justify-content-between align-items-center w-100">
                      <div>
                        <h6 class="mb-1 text-capitalize fw-semibold text-light cursor-pointer"
                          routerLink="/MyDashboard/Project/{{ project.id }}">
                          {{ project.name }}
                        </h6>

                        <small class="dev-text-muted">
                          <i class="fa-solid fa-calendar-days me-1"></i>
                          {{ project.creationDate | date: 'mediumDate' }}
                        </small>
                      </div>
                      <small class="text-info d-block mt-1">
                        <i class="fa-solid fa-chart-line me-1"></i>
                        {{ getVisitPercentage(project.id) }}% visits
                      </small>
                      <span class="status-badge text-capitalize" [ngClass]="project.status.toLowerCase()">
                        {{ project.status }}
                      </span>
                    </div>
                  </li>
                  }
                </ul>
                <div class="d-flex justify-content-center align-items-center dev-text-muted h-100"
                  *ngIf="mostVisitedProjects.length ==0">
                  <p class="dev-text-muted">No Projects visited yet.</p>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center align-items-center dev-text-muted h-100"
              *ngIf="recentProjects.length== 0 &&mostVisitedProjects.length==0">
              <p class="dev-text-muted">No Projects found yet.</p>
            </div>
          </div>
          <!-- Tabs -->
          <ul class="nav nav-pills d-flex align-items-center justify-content-center px-1"
            *ngIf="recentProjects.length > 0 ||mostVisitedProjects.length>0">
            <li class="nav-item">
              <a class="nav-link text-decoration-none cursor-pointer" [class.active]="activeTab === 'recent'"
                (click)="activeTab = 'recent'">Recent</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-decoration-none cursor-pointer" [class.active]="activeTab === 'visited'"
                (click)="activeTab = 'visited'">Most
                Visited</a>
            </li>
          </ul>
        </div>
      </div>






      <div class="col-lg-6 ">
        <div class="card cardTopRight pinned-card">
          <div class="card-body ">
            <div class="headTitle mb-4">
              <img src="assets/images/dashboard icons/Pin.svg" alt="Pin icon" />
              <h3 class="m-0"> Pinned</h3>
            </div>
            <div class="Pinnedcard-sub-title ">
              <app-tree [nodes]="treeNodes" h-100 *ngIf="treeNodes.length>0" class="fs-5"></app-tree>
              <div class="pt-5">
                <div class="h-100 my-5 py-5 d-flex justify-content-center align-items-center"
                  *ngIf="treeNodes.length==0">
                  <p class=" dev-text-muted">No pinned projects found yet.</p>
                </div>
              </div>
            </div>

            <!-- Pinned Tenants -->
            <!-- <div (click)="toggleDropdown('tenants')" class="dropdown-header">
              <img src="assets/images/dashboard icons/list.svg" alt="" />
              <span class="ps-1 fs-5">Pinned Tenants</span>
              <span class="dropdown-icon">{{ isDropdownOpen.tenants ? '▼' : '▶' }}</span>
            </div>
            <ul *ngIf="isDropdownOpen.tenants">
              <li *ngFor="let tenant of pinnedTenants">
                <a [routerLink]="['/tenant', tenant.id]">{{ tenant.name }}</a>
              </li>
            </ul> -->

            <!-- Pinned Projects -->
            <!-- <div (click)="toggleDropdown('projects')" class="dropdown-header">
              <img src="assets/images/dashboard icons/list.svg" alt="" />
              <span class="ps-1 fs-5">Pinned Projects</span>
              <span class="dropdown-icon">{{ isDropdownOpen.projects ? '▼' : '▶' }}</span>
            </div>
            <ul *ngIf="isDropdownOpen.projects">
              <li *ngFor="let project of pinnedProjects">
                <a [routerLink]="['/project', project.id]">{{ project.name }}</a>
              </li>
            </ul> -->

            <!-- Pinned Issues -->
            <!-- <div (click)="toggleDropdown('issues')" class="dropdown-header">
              <img src="assets/images/dashboard icons/list.svg" alt="" />
              <span class="ps-1 fs-5">Pinned Issues</span>
              <span class="dropdown-icon">{{ isDropdownOpen.issues ? '▼' : '▶' }}</span>
            </div>
            <ul *ngIf="isDropdownOpen.issues">
              <li *ngFor="let issue of pinnedIssues">
                <a [routerLink]="['/issue', issue.id]">{{ issue.title }}</a>
              </li>
            </ul> -->

            <!-- Pinned Sprints -->
            <!-- <div (click)="toggleDropdown('sprints')" class="dropdown-header">
              <img src="assets/images/dashboard icons/list.svg" alt="" />
              <span class="ps-1 fs-5">Pinned Sprints</span>
              <span class="dropdown-icon">{{ isDropdownOpen.sprints ? '▼' : '▶' }}</span>
            </div> -->
            <!-- <ul *ngIf="isDropdownOpen.sprints">
              <li *ngFor="let sprint of pinnedSprints">
                <a [routerLink]="['/sprint', sprint.id]">{{ sprint.title }}</a>
              </li>
            </ul> -->

          </div>
        </div>
      </div>


      <div class="col-lg-6">
        <div class="card cardTopLeft">
          <div class="card-body mb-2">
            <div class="headTitle gap-2 mb-4">
              <img src="assets/images/dashboard icons/Calendar.svg" alt="Calendar icon" />
              <h3 class="m-0">Issues Calendar</h3>
            </div>
            <div class="px-5">
              <app-calendar></app-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>