<div class="payment-container text-center py-5">
    <i class="fas fa-check-circle text-success success-icon mb-3"></i>
    <h2 class="gradient-text">Payment Successful 🎉</h2>
    <p class="text-light fs-5 mb-4">Welcome to <strong>DevDash Premium</strong>!</p>
    <p class="dev-text-muted mb-4">You now have full access to unlimited companies, projects, AI assistant, and more!
    </p>

    <a routerLink="/MyDashboard" class="btn text-light btn-gradient-premium mt-3">
        Go to My Dashboard
    </a>
</div>