<div class="modal-container">
  <div class="modal-header">
    <h2 class="m-0 p-0">Create Company</h2>
    <button class="close-btn" (click)="close()">&#x2715;</button>
  </div>
  <div class="divider"></div>
  <form [formGroup]="companyForm" (ngSubmit)="createNewCompany()">
    <div class="form-group">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-3">
          <label for="companyName">Company name*</label>
        </div>
        <div class="col-md-9">
          <input id="companyName" type="text" placeholder="e.g. Linear" formControlName="name" required />
        </div>
        @if(companyForm.controls['name'].invalid &&
        (companyForm.controls['name'].touched ||
        companyForm.controls['name'].dirty)) {
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <p>Company name should not be empty.</p>
        </div>
        }
      </div>
    </div>
    <div class="form-group">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-3">
          <label for="websiteURL">Website URL</label>
        </div>
        <div class="col-md-9">
          <input id="websiteURL" type="url" placeholder="https://www.example.com" formControlName="tenantUrl" />
        </div>
        @if (companyForm.controls['tenantUrl'].invalid &&
        (companyForm.controls['tenantUrl'].touched ||
        companyForm.controls['tenantUrl'].dirty)) {
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <p>
            Company URL should start with
            <span style="color: var(--brightBlueColor)">"https://"</span>
          </p>
        </div>
        }
      </div>
    </div>
    <div class="divider"></div>
    <div class="form-group">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-3">
          <label>Profile image</label>
        </div>
        <div class="col-md-9">
          <div class="ProfileImg row d-flex justify-content-between align-items-center gap-4">
            <div class="col-2">
              <label for="profileImage">
                <div class="AddImgOverlay">
                  <img src="assets/images/image-plus.svg" alt="Add image" />
                </div>
              </label>
              <input id="profileImage" type="file" placeholder="Click to upload" (change)="onFileSelected($event)"
                accept="image/*" />
            </div>
            <div class="col-9">
              <div class="dropndrop w-100 ms-auto">
                <app-dragn-drop></app-dragn-drop>
              </div>
              <!-- <input type="file" id="imageInput" name="image" accept="image/*" formControlName="image" required>
              <button type="submit">Upload</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="form-group">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-3">
          <label for="keywords">Keywords</label>
        </div>
        <div class="col-md-9">
          <input id="keywords" type="text" formControlName="keywords"
            placeholder="Add 1-10 keywords that help users find your company" />
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-3">
          <label for="description">Description</label>
        </div>
        <div class="col-md-9">
          <textarea id="description" rows="2" formControlName="description"
            placeholder="Write a few sentences about the company..."></textarea>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="modal-footer">
      <div class="buttons w-100 d-flex justify-content-center align-items-center gap-3">
        <button type="button" class="cancel-btn w-50 fw-semibold" (click)="close()">
          Cancel
        </button>
        <button type="submit" class="confirm-btn w-50 fw-semibold">
          Confirm
        </button>
      </div>
    </div>
  </form>
</div>