<section id="ForgetPass" class="bg py-2 vh-100  d-flex flex-column justify-content-center align-items-center">
    <mat-toolbar class="w-75 mx-auto d-flex justify-content-between fixed-top">
        <h1>Dev Dash</h1>
        <div class="log d-flex gap-3">
            <span>Sign In</span>
            <span>Sign Up</span>
        </div>
</mat-toolbar>
<div class="signup-container overflow-auto">
    <div class="progress-container mb-4 mt-5">
        <div class="d-flex justify-content-center">
            <div class="step-circle n1 step-circle-active" (click)="navigateForgot()">1</div>
            <div class="step-line nl1 step-line-active"></div>
            <div class="step-circle n2" (click)="navigateVerify()" [ngClass]="{'step-circle-active': steps == 2 || steps == 3 || steps == 4}">2</div>
            <div class="step-line nl2" [ngClass]="{'step-line-active': steps == 2 || steps == 3 || steps == 4}"></div>
            <div class="step-circle n3" (click)="navigateReset()"  [ngClass]=" {'step-circle-active': steps == 3 || steps == 4}">3</div>
            <div class="step-line nl3" [ngClass]=" {'step-line-active': steps == 3 || steps == 4}"></div>
            <div class="step-circle n4" (click)="DonePass()" [ngClass]=" {'step-circle-active': steps == 4}">4</div>
</div>
</div>

@if (steps == 1) {
    <!-- Forgot  Password -->
    <div class="container w-100">
        <div class="P-img d-flex justify-content-center align-items-center">
            <img src="assets/images/message.svg" class="w-50" alt="message">
        </div>
        <div class="P1-Content text-center my-3">
            <h1 class="m-auto">Verify Your Email First !</h1>
            <p class="text-center">Please enter your user email correctly</p>
        </div>
        <form class="d-flex justify-content-center align-items-center flex-column">
            <div class="form-group w-75 d-flex justify-content-center align-items-center flex-column">
                <div class="w-100 d-flex justify-content-center align-items-center flex-column">
                    <label for="email" class="me-auto">Email:</label>
                    <input class="w-100 rounded-3 py-1" name="email" type="email"/>
                    <!--[disabled]="emailForm.invalid"-->
                    <button type="submit" class="w-75 btn btn-block mt-4">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div> 
    }@else if (steps == 2) {
        <!-- Verify Reset Code -->
        <div class="container w-100">
            <div class="P-img d-flex justify-content-center align-items-center">  
                <img src="assets/images/password-manager.svg" class="w-50" alt="Lock">
            </div>
        <div class="P2-Content text-center my-3">
            <h1 class="m-auto">Your OTP Has been Sent !</h1>
            <p class="text-center">check your email for OTP code </p>
        </div>
        <form class="d-flex justify-content-center align-items-center flex-column">
            <div class="form-group w-75 d-flex justify-content-center align-items-center flex-column">
                <div class="w-100 d-flex justify-content-center align-items-center flex-column">
                    <label for="OTP" class="me-auto">OTP:</label>
                    <input class="w-100 rounded-3 py-1" name="OTP" type="text"/>
                    <!--[disabled]="emailForm.invalid"-->
                    <button type="submit" class="w-75 btn btn-block mt-4">
                        Submit
                    </button>
                </div>
            </div>
        </form>
        </div>
        
    }@else if(steps == 3) {
        <!-- Reset Password -->
        <div class="container w-100">
            <div class="P-img d-flex justify-content-center align-items-center">
                <img src="assets/images/reset-password.svg" class="w-50" alt="Lock 2">
            </div>
            <div class="P3-Content text-center my-2">
                <h1 class="m-auto">Enter Your New Password</h1>
                <p class="text-center w-75 m-auto">Your password must contain at least 10 characters and symbols</p>
            </div>
            <form class="d-flex justify-content-center align-items-center flex-column">
                <div class="form-group w-75 d-flex justify-content-center align-items-center flex-column">
                    <div class="w-100 d-flex justify-content-center align-items-center flex-column">
                        <label for="NPass" class="me-auto">New Password:</label>
                        <input class="w-100 rounded-3 py-1" name="NPass" type="password"/>
                        <!--[disabled]="emailForm.invalid"-->
                        <button type="submit" class="w-75 btn btn-block mt-4">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    }
    @else if(steps == 4) {
        <!-- Done Password -->
        <div class="container w-100">
            <div class="P-img d-flex justify-content-center align-items-center">
                <img src="assets/images/man.svg" class="w-50" alt="man">
            </div>
            <div class="P4-Content text-center my-2">
                <h1 class="m-auto">You’re All Done ! </h1>
                <p class="text-center w-75 m-auto">You’re password has been updated </p>
            </div>
            <form class="d-flex justify-content-center align-items-center flex-column">
                <div class="form-group w-75 d-flex justify-content-center align-items-center flex-column">
                    <div class="w-100 d-flex justify-content-center align-items-center flex-column">
                        <!--[disabled]="emailForm.invalid"-->
                        <button routerLink="/signin" type="submit" class="w-75 btn btn-block mt-5">  
                            <!-- ! router link is not working  -->
                            <img src="assets/images/Left Arrow.svg" class="leftarrow" alt="left arrow">                        
                            Go back to sign in page
                        </button>
                    </div>
                </div>
            </form>
        </div>
    }
    
</div>