<section id="ForgetPass" class="py-2 ">
    <div class="auth-form-container overflow-auto">
        <div class="progress-container mb-4 mt-5">
            <div class="d-flex justify-content-center">
                <div class="step-circle n1 step-circle-active" (click)="navigateForgot()">1</div>
                <div class="step-line nl1 step-line-active" [ngClass]="{
                    'step-line': true,
                    'step-line-active': steps === 1,
                    'step-line-past-active': steps > 1
                }"></div>
                <div class="step-circle n2" (click)="navigateVerify()"
                    [ngClass]="{'step-circle-active': steps == 2 || steps == 3 || steps == 4}">2</div>
                <div class="step-line nl2" [ngClass]="{
                    'step-line': true,
                    'step-line-active': steps === 2,
                    'step-line-past-active': steps > 2
                }">
                </div>
                <div class="step-circle n3" (click)="navigateReset()"
                    [ngClass]=" {'step-circle-active': steps == 3 || steps == 4}">3</div>
                <div class="step-line nl3" [ngClass]="{
                    'step-line': true,
                    'step-line-active': steps === 3 ,
                    'step-line-past-active': steps > 3
                }"></div>
                <div class="step-circle n4" (click)="DonePass()" [ngClass]=" {'step-circle-active': steps == 4}">4</div>
            </div>
        </div>



        @if (steps == 1) {
        <!-- Forgot  Password -->
        <div class="container w-100">
            <div class="P-img d-flex justify-content-center align-items-center">
                <img src="assets/images/message.svg" class="forget-pass-icon" alt="message">
            </div>
            <div class="P1-Content text-center my-3">
                <h1 class="m-auto">Verify Your Email First !</h1>
                <p class="text-center">Please enter your user email correctly</p>
            </div>
            <form class="d-flex justify-content-center align-items-center flex-column" [formGroup]="ForgetForm" (ngSubmit)="ForgetPassword()">
                <div class="form-group w-75 d-flex justify-content-center align-items-center flex-column">
                    <div class="w-100 d-flex justify-content-center align-items-center flex-column">
                        <label for="email" class="me-auto">Email:</label>
                        <input class="form-control" name="email" id="email" type="email" formControlName="email" />
                        <!--[disabled]="emailForm.invalid"-->
                        <!-- <button  class="w-75 btn btn-block mt-4">
                            Submit
                        </button> -->
                        <app-main-dark-btn class="w-100">Submit</app-main-dark-btn>

                    </div>
                </div>
            </form>
        </div>
        }@else if (steps == 2) {
        <!-- Verify Reset Code -->
        <div class="container w-100">
            <div class="P-img d-flex justify-content-center align-items-center">
                <img src="assets/images/password-manager.svg" class="forget-pass-icon" alt="Lock">
            </div>
            <div class="P2-Content text-center my-3">
                <h1 class="m-auto">Your OTP Has been Sent !</h1>
                <p class="text-center">check your email for OTP code </p>
            </div>
            <form class="d-flex justify-content-center align-items-center flex-column" [formGroup]="OTPForm" (ngSubmit)="VerifyOTP()">
                <div class="form-group w-75 d-flex justify-content-center align-items-center flex-column">
                    <div class="w-100 d-flex justify-content-center align-items-center flex-column">
                        <label for="OTP" class="me-auto">OTP:</label>
                        <input class="w-100 form-control" name="OTP" id="OTP" type="text" formControlName="token"/>
                        <!--[disabled]="emailForm.invalid"-->
                        <!-- <button type="submit" class="w-75 btn btn-block mt-4">
                            Submit
                        </button> -->
                        <app-main-dark-btn class="w-100">Submit</app-main-dark-btn>
                    </div>
                </div>
            </form>
        </div>

        }@else if(steps == 3) {
        <!-- Reset Password -->
        <div class="container w-100">
            <div class="P-img d-flex justify-content-center align-items-center" [formGroup]="ResetForm" (ngSubmit)="ResetPassword()">
                <img src="assets/images/reset-password.svg" class="forget-pass-icon" alt="Lock 2">
            </div>
            <div class="P3-Content text-center my-3">
                <h1 class="m-auto">Enter Your New Password</h1>
                <p class="text-center w-75 m-auto">Your password must contain at least 10 characters and symbols</p>
            </div>
            <form class="d-flex justify-content-center align-items-center flex-column">
                <div class="form-group w-75 d-flex justify-content-center align-items-center flex-column">
                    <div class="w-100 d-flex justify-content-center align-items-center flex-column">
                        <label for="NPass" class="me-auto">New Password:</label>
                        <input class="w-100 form-control" name="NPass" id="NPass" type="password"  formControlName="newPassword" />
                        <!--[disabled]="emailForm.invalid"-->
                        <!-- <button type="submit" class="w-75 btn btn-block mt-4">
                            Submit
                        </button> -->
                        <app-main-dark-btn class="w-100">Submit</app-main-dark-btn>

                    </div>
                </div>
            </form>
        </div>
        }
        @else if(steps == 4) {
        <!-- Done Password -->
        <div class="container w-100">
            <div class="P-img d-flex justify-content-center align-items-center">
                <img src="assets/images/man.svg" class="forget-pass-icon" alt="man">
            </div>
            <div class="P4-Content text-center my-2">
                <h1 class="m-auto">You’re All Done ! </h1>
                <p class="text-center w-75 m-auto">You’re password has been updated </p>
            </div>
            <form class="d-flex justify-content-center align-items-center flex-column">
                <div class="form-group w-75 d-flex justify-content-center align-items-center flex-column">
                    <div class="w-100 d-flex justify-content-center align-items-center flex-column">
                        <!--[disabled]="emailForm.invalid"-->
                        <!-- <button routerLink="/signin" type="submit" class="w-75 btn btn-block mt-5">
                            ! router link is not working 
                            <img src="assets/images/Left Arrow.svg" class="leftarrow" alt="left arrow">
                            Go back to sign in page
                        </button> -->
                        <app-main-dark-btn class=" w-100 " routerLink="/signin">
                            <img src="assets/images/Left Arrow.svg" class="leftarrow" alt="left arrow">
                            Go back to sign in page</app-main-dark-btn>

                    </div>
                </div>
            </form>
        </div>
        }

    </div>