:root {
  --top-gradient: linear-gradient(to top, #292F65, #D2446A);
  --fade-gradient: linear-gradient(to right, rgba(41, 47, 101, 1), rgba(210, 68, 106, 0.5), rgba(210, 68, 106, 0), #ccc);
}


.bg {
    background: var(--mainBackgroundGradient);
    /* background-image: url(assets/images/Sign\ In.png);
    background-size: contain;
    background-position: center; */
}

/* #ForgetPass {
    position: relative;
} */

.signup-container {
    background: var(--glassGradient);
    backdrop-filter: var(100px);
    -webkit-backdrop-filter: var(100px);
    border-radius: 40px;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 10px;
    color: #DCDFFF;
}

.signup-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: inherit;
    padding: 1.1px;
    background: var(--strokeGradient);
    mask-composite: exclude;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: subtract;
}

.signup-container h1 {
    font-family: var(--headerFontFamily) !important;
    /* font-size: var(--headerFontSize); */
    font-size: 1.8rem;
    width: 450px;
}

.mat-toolbar {
    background: transparent;
    border-radius: 16px;
    overflow: hidden;
    color: var(--mainColor);
    font-family: var(--headerFontFamily) !important;
}

.mat-toolbar h1 {
    font-family: var(--headerFontFamily) !important;
}

.mat-toolbar span {
    font-size: var(--regularFontSize);
}

.Group1 {
    position: absolute;
    top: 25%;
    right: 22%;
    mix-blend-mode: color-dodge;
}

.Group2 {
    position: absolute;
    bottom: 0;
    left: 0;
    mix-blend-mode: color-dodge;
}

.Group3 {
    position: absolute;
    bottom: 8%;
    left: 26%;
    mix-blend-mode: color-burn;
}

.Group4 {
    position: absolute;
    bottom: 0;
    right: 0;
    mix-blend-mode: color-burn;
}

.Group5 {
    position: absolute;
    bottom: 20%;
    right: 12%;
    mix-blend-mode: overlay;

}

.Group6 {
    position: absolute;
    bottom: 16%;
    right: 10%;
    mix-blend-mode: soft-light;
}

form button{
     background-color: #292F65;
     color: #DCDFFF;
     border: 1px solid var(--glassGradient);
     transition: all 0.3s;
}
form button:hover{
     background-color: #DCDFFF;
     color: #292F65;
}

.leftarrow{
  width: 10%;
}







.steps {
  width: 25%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

  .step {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #898886;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #898886;
  }

  .step-container {
    cursor: pointer;

    span {
      font-weight: 500;
      margin-inline: 17px;
    }
  }

  .step-line {
    height: 2px;
    width: 54px;
    background-color: #898886;
  }

  .active-step {
    border-color: #0aad0a !important;
    color: #0aad0a !important;
  }

  .active-step-line {
    background-color: #0aad0a !important;
  }

  .active-step-title {
    color: #0c770c !important;
  }
}








.progress-container {
  position: relative;
}

.step-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background-color:  var( --importantPinkColor); */
  background-color: #ccc;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);

}
.step-line {
  width: 50px;
  height: 4px;
  /* background-color:var(--importantPinkColor); */
  background-color:#ccc;
  margin: 0 ;
  align-self: center;
  box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);

}

.step-circle-active{
  /* background-color: var(--importantPinkColor); */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #D2446A 0%, #292F65 65%); /* Top-to-bottom gradient */
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.341);

}

/* .step-line-active {
  background: linear-gradient(
    to right, 
    var(--importantPinkColor) 0%, 
    var(--importantPinkColor) 1%, 
    #ccc 100%
  );
} */

/* .step-line-active {
  width: 50px;
  height: 4px;
  background: linear-gradient(
    to right,
    rgba(41, 47, 101, 1),   
    rgba(210, 68, 106, 0.5), 
    rgba(210, 68, 106, 0)    
  );
  margin: 0;
  align-self: center;
  box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);
} */

.step-line-active {
  width: 50px;
  height: 4px;
  background: 
  /* linear-gradient(
      to top,
      #292F65, 
      #D2446A 
    )  */
    left,
    linear-gradient(
      to right,
       rgba(41, 47, 101, 1),   
       rgba(210, 68, 106, 0.5),  
      #ccc                  
    ); 
  /* background-size: 50% 100%, 100% 100%;  */
  background-repeat: no-repeat;
  margin: 0;
  align-self: center;
  box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);
}





/* .step-circle:not(.active),
.step-line:not(.active) {
  background-color: #ccc;
} */








