<ul>
    @for (node of nodes; track node) {
    <li>
        <div (click)="toggle(node)" class="node-label d-flex justify-content-between align-items-baseline">
            <span class="node-label ">
                {{ node.name }}
            </span>
            <span class="node-label ">
                @if (node.children?.length) {
                <i class="fa-solid fa-2xs mx-2" [ngClass]="node.expanded ? 'fa-chevron-down' : 'fa-chevron-right'">
                </i>


                }
            </span>
        </div>
        @if (node.children?.length) {
        <div [@expandCollapse]="node.expanded ? 'expanded' : 'collapsed'" class="children-container">
            <app-tree [nodes]="node.children??[]"></app-tree>
        </div>
        }
    </li>
    }
</ul>