<section id="signin">
  <div class="auth-form-container mt-2">
    <form class="d-flex flex-column" [formGroup]="loginForm" (ngSubmit)="sendData()" (submit)="onSubmit($event)">
      <h1 class="mb-3">Welcome Back, user !</h1>
      <label for="email" class="mt-1">Email</label>
      <input type="email" class="form-control my-2" id="email" formControlName="email" />
      <label for="password" class="mt-1">Password</label>
      <input type="password" class="form-control my-2" id="password" formControlName="password" />

      <div class="forget_pass d-flex justify-content-between align-items-center mt-1 mb-4">
        <div class="form-check remember_me">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
          <label class="form-check-label" for="flexCheckDefault">
            Remember Me
          </label>
        </div>
        <span class="text-decoration-underline cursor-pointer" routerLink="/forgetPassword">Forget Password?</span>
      </div>
      <app-main-dark-btn>Sign in</app-main-dark-btn>
      <app-main-dark-btn>Sign in with Google
        <img src="assets/images/google-icon.svg" width="21" height="20" alt="google icon">
      </app-main-dark-btn>
    </form>
  </div>
</section>