
  <div class="company-img position-relative image-shine">
    <img
      class="w-100"
      [src]="isValidUrl(company.image) ? company.image : 'assets/images/cover.jpg'"
      alt="{{ project.name }}"
    />
    <div class="shine"></div>

    <div class="company-data">
      <div class="header">
        <h3 class="text-capitalize">{{ project.name }}</h3>
      </div>

      <div class="icons gap-3">
        <div class="icon-shadow">
          <div class="pin-icon" (click)="TogglePin(project, $event)">
            @if(isPinned) {
            <a><i class="fa-solid fa-map-pin active-pin"></i></a>
            } @else {
            <a><i class="fa-solid fa-map-pin pin"></i></a>
            }
          </div>
        </div>
        @if(isOwner) {
          <div class="icon-shadow">
            <div class="code-icon">
              <a (click)="copyText('code')">
                <span *ngIf="!copied.code">
                  <i
                    class="fa-regular fa-file-lines"
                    style="color: var(--mainLightBlueColor)"
                  ></i>
                </span>
                <span *ngIf="copied.code">
                  <i class="fa-check fa-solid" style="color: #720e88"></i>
                </span>
              </a>
            </div>
          </div>
          }
      </div>

      <div class="divider"></div>

      <div class="company-description">
        <p class="mt-0 pt-0">
          {{ project.description || 'No Description Available' }}
        </p>
      </div>

      <!-- <div class="company-members mt-2">
        <div class="member-stack" (mouseenter)="hover = true" (mouseleave)="hover = false">
          <ng-container *ngFor="let member of project?.userProjects; let i = index">
            <p *ngIf="!project?.tenant?.joinedUsers?.length">🔍 Missing joined users!</p>
            <p *ngIf="project?.tenant?.joinedUsers?.length">✅ Found joined users</p>

            <img
            [src]="
              isValidUrl(getUserById(member.userId)?.imageUrl)
                ? getUserById(member.userId)?.imageUrl
                : 'assets/images/blank profile.svg'
            "
            class="member-avatar"
            [ngStyle]="{ left: hover ? i * 30 + 'px' : i * 16 + 'px', zIndex: 10 - i }"
          />
          </ng-container>
          

          <span *ngIf="project.userProjects.length > 3" class="extra-count">
            +{{ project.userProjects.length - 3 }}
          </span>
        </div>
      </div> -->

      <div class="Priority-Status mt-3 d-flex gap-2">
        <mat-chip-set>
          <mat-chip [ngClass]="getPriorityClass(project.priority)">
            {{ project.priority }}
          </mat-chip>
        </mat-chip-set>
        <mat-chip-set>
          <mat-chip
            [ngClass]="{
              'planning-status': project.status === 'Planning',
              'reviewing-status': project.status === 'Reviewing',
              'working-on-status': project.status === 'Working on',
              'completed-status': project.status === 'Completed',
              'canceled-status': project.status === 'Canceled',
              'postponed-status': project.status === 'Postponed'
            }"
            class="status-chip"
          >
            {{ project.status }}
          </mat-chip>
        </mat-chip-set>
      </div>

      <div class="date-range mt-2">
        <p class="m-0 p-0">
          Start {{ project.startDate }}<br />
          Due {{ project.endDate }}
        </p>
      </div>

      <div class="company-tags-details mt-3">
        <div class="company-tags">
          <mat-chip-set>
            <mat-chip *ngIf="project.tenant?.name">{{ project.tenant.name }}</mat-chip>
            <mat-chip *ngIf="!project.tenant?.name">Unknown Tenant</mat-chip>
          </mat-chip-set>
        </div>
        <div class="company-details">
          <a class="custom-btn text-center btn" (click)="selectProject()">View More</a>
        </div>
      </div>
    </div>
  </div>
