<div class="my-4 min-vh-100">
  <div class="BG" [ngClass]="{ expand: isSidebarCollapsed }">
    <header>
      <div class="header">
        <img src="assets/images/sidebar icons/Company.svg" alt="" />
        <h2>Your Companies</h2>
      </div>
      <span class="btn join-btn" (click)="join()">
        <a class="custom-btn text-center btn"><img src="assets/images/sidebar icons/Plus.svg" class="pe-2" alt="" />
          Join Company</a>
      </span>
    </header>
    <mat-tab-group>
      <mat-tab label="Owned Companies">
        <div class="card1">
          <app-dashboard-loader [ngStyle]="{ 'align-self': 'center', padding: '200px' }"
            *ngIf="loading"></app-dashboard-loader>
          <div class="container" [@slideInUp] *ngIf="showCompanies && !loading">
            <div class="row g-3">
              <div class="col-md-6" *ngFor="let company of joinedCompanies">
                <app-allcompaniescard [company]="company"
                  (companySelected)="viewCompany($event)"></app-allcompaniescard>
                <div class="col-md-6" *ngFor="let company of ownedCompanies">
                  <app-allcompaniescard [company]="company" [isPinned]="pinnedTenantIds.has(company.id)"
                    (pinChanged)="onPinChanged($event)" (companySelected)="viewCompany($event)"></app-allcompaniescard>
                </div>
              </div>
            </div>
          </div>
      </mat-tab>

      <mat-tab label="Joined Companies">
        <div class="card1">
          <app-dashboard-loader [ngStyle]="{ 'align-self': 'center', padding: '200px' }"
            *ngIf="loading"></app-dashboard-loader>
          <div class="container" [@slideInUp] *ngIf="showCompanies && !loading">
            <div class="row g-3">
              <div class="col-md-6" *ngFor="let company of ownedCompanies">
                <app-allcompaniescard [company]="company"
                  (companySelected)="viewCompany($event)"></app-allcompaniescard>
                <div class="col-md-6" *ngFor="let company of joinedCompanies">
                  <app-allcompaniescard [company]="company" [isPinned]="pinnedTenantIds.has(company.id)"
                    (pinChanged)="onPinChanged($event)" (companySelected)="viewCompany($event)"></app-allcompaniescard>
                </div>
              </div>
            </div>
          </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>