<!-- <h2>Modal Title</h2> -->
<!-- <p>{{ data.name }}</p> -->
<!-- <button (click)="close()">Close</button> -->

<div class="modal-container">
    <div class="modal-header d-flex justify-content-between align-items-start">
        <div class="header w-100 d-flex justify-content-between align-items-center gap-3">
            <div class="headerContent p-0 m-0">
                <h2>Create Issue</h2>
            </div>
            <button class="close-btn" (click)="close()">&#x2715;</button>
        </div>
    </div>
    <div class="divider"></div>
    <form>
        <div class="form-group">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-3">
                    <label for="companyName">Issue Title*</label>
                </div>
                <div class="col-md-9">
                    <input id="companyName" type="text" placeholder="e.g. Linear" required />
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-3">
                    <label for="description">Description</label>
                </div>
                <div class="col-md-9">
                    <textarea id="description" rows="2"
                        placeholder="Write a few sentences about the Issue..."></textarea>
                </div>
            </div>
            <div class="divider"></div>
            <div class="date-container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-3">
                        <label for="startDate">Start Date</label>
                    </div>
                    <div class="col-md-9">
                        <mat-form-field appearance="outline" class="custom-date-picker">
                            <mat-icon matPrefix class="custom-calendar-icon" (click)="picker1.open()"><img
                                    src="../../assets/images/uil_calender.svg" alt=""></mat-icon>
                            <input matInput [matDatepicker]="picker1" placeholder="Select Date">
                            <!-- <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle> -->
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row justify-content-center align-items-center">
                    <div class="col-md-3">
                        <label for="DueDate">Due Date</label>
                    </div>
                    <div class="col-md-9">
                        <mat-form-field appearance="outline" class="custom-date-picker">
                            <mat-icon matPrefix class="custom-calendar-icon" (click)="picker2.open()"><img
                                    src="../../assets/images/uil_calender.svg" alt=""></mat-icon>
                            <input matInput [matDatepicker]="picker2" placeholder="Select Date">
                            <!-- <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle> -->
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row justify-content-center align-items-center">
                    <div class="col-md-3">
                        <label for="DueDate">Delivered Date</label>
                    </div>
                    <div class="col-md-9">
                        <mat-form-field appearance="outline" class="custom-date-picker">
                            <mat-icon matPrefix class="custom-calendar-icon" (click)="picker3.open()"><img
                                    src="../../assets/images/uil_calender.svg" alt=""></mat-icon>
                            <input matInput [matDatepicker]="picker3" placeholder="Select Date">
                            <!-- <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle> -->
                            <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-3">
                    <label for="issue-type">Type</label>
                </div>
                <div class="col-md-9">
                    <mat-form-field appearance="outline" class="custom-dropdown">
                        <mat-select [(value)]="selectedType" multiple="false" panelClass="custom-select-panel">
                            <mat-option value="" disabled hidden>Select Issue Type</mat-option>
                            <mat-option *ngFor="let type of issueTypes" [value]="type">
                                {{ type }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="divider"></div>
        </div>
        <div class="modal-footer">
            <div class="buttons w-100 d-flex justify-content-center align-items-center gap-3">
                <button type="button" class="cancel-btn w-50 fw-semibold" (click)="close()">Cancel</button>
                <button type="submit" class="confirm-btn w-50 fw-semibold">Confirm</button>
            </div>
        </div>
    </form>
</div>