<div class="dropzone">
    <input 
        type="file"
        class="px-5 py-3"
        [multiple]="allowMultipleFiles"
        (drop)="onFiledrop($event)"
        (change)="onFileSelected($event)"
        #fileDropRef
        [formControlName]="formControlName"  />

    <label *ngIf="!label; else customLabel" for="fileDropRef">
        <b class="bold-blue">Click to upload</b> or drag and drop
    </label>
    <ng-template #customLabel for="fileDropRef">{{ label }}</ng-template>

    <div class="allowed-types">
        Allowed file types: {{ allowedList }}
    </div>

    <div class="uploadedFiles" *ngIf="files.length > 0">
        <div *ngFor="let file of files">Uploaded: {{ file.name }}</div>
    </div>

    <div *ngIf="incorrectInput" class="error-alert">{{ errorMessage }}</div>

    <!-- Display selected image -->
    <div *ngIf="imagePath">
        <img [src]="imagePath" alt="Selected Image" class="preview-image" />
    </div>
</div>
