<div
    class="main-container my-4 BG min-vh-100"
    [ngClass]="{ expand: isSidebarCollapsed }"
    >

    <div class="row g-3 mt-2 mb-5">
        
        <div class="col-lg-4 Projects">
            <h1 class="text-main-color p-3">Projects</h1>

            <div class="stack-container">
                    <div
                    class="card CardOfStack"
                    *ngFor="let project of visibleProjects; let i = index"
                    [ngClass]="{ front: i === 0 }"
                    [style.background]="getColor(i)"
                    [style.zIndex]="getZIndex(i)"
                    (click)="i === 0 && onCardClick()"
                    >
                    <!-- Header -->
                    <div class="card-header mb-3">
                        <h2 class="card-title">{{ project.name }}</h2>
                        <p class="card-description">{{ project.description }}</p>
                    </div>

                
                    <!-- Body Content -->
                    <div class="card-body d-flex flex-column gap-2">

                        <!-- Tenant Info -->
                        <div class="info-row d-flex align-items-center gap-5">
                            <div class="TenantName">
                                <span class="label me-4">Tenant:</span>
                                <span>{{ project.tenant?.name }}</span>
                            </div>
                            <div class="AdminImg">
                                <span class="label me-4">Admin:</span>
                                <img
                                *ngIf="project.tenant?.owner?.imageUrl"
                                [src]="project.tenant.owner.imageUrl"
                                alt="Tenant"
                                class="rounded-circle"
                                width="32"
                                height="32"
                                />
                            </div>
                        </div>

                        <!-- Priority -->
                        <div class="info-row d-flex gap-2 align-items-center">
                            <span class="label">Priority:</span>
                            <mat-chip-set>
                                <mat-chip [ngClass]="getPriorityClass(project.priority)">
                                {{ project.priority }}
                                </mat-chip>
                            </mat-chip-set>
                            <!-- Status -->
                            <div class=" d-flex gap-2 align-items-center">
                                <span class="label">Status:</span>
                                <mat-chip-set>
                                    <mat-chip
                                    [ngClass]="{
                                        'planning-status': project.status === 'Planning',
                                        'reviewing-status': project.status === 'Reviewing',
                                        'working-on-status': project.status === 'Working on',
                                        'completed-status': project.status === 'Completed',
                                        'canceled-status': project.status === 'Canceled',
                                        'postponed-status': project.status === 'Postponed'
                                    }"
                                    class="status-chip"
                                    >
                                    {{ project.status }}
                                    </mat-chip>
                                </mat-chip-set>
                            </div>
                        </div>

                        <!-- Dates -->
                        <div class="info-row d-flex gap-2">
                            <div class="start">
                                <span class="label p-2 me-3">Start:</span>
                                <span>{{ project.startDate }}</span>
                            </div>
                            <div class="end">
                                <span class="label p-2 me-3">End:</span>
                                <span>{{ project.endDate }}</span>
                            </div>
                        </div>

                        <!-- Project Members -->
                        <div class="info-row d-flex align-items-center gap-2 mt-2 mb-0 pb-0">
                            <span class="label">Members:</span>
                            <span>{{ project.userProjects.length || 0 }}</span>
                            <div class="d-flex align-items-center gap-1">
                                <img
                                *ngFor="let user of project.userProjects?.slice(0, 3)"
                                [src]="user?.user?.imageUrl || defaultUserImage"
                                class="rounded-circle border"
                                width="28"
                                height="28"
                                alt="Member"
                                />
                                <span *ngIf="project.userProjects?.length ?? 0 > 3" class="text-light">
                                +{{ project.userProjects.length - 3 }}
                                </span>
                            </div>
                        </div>

                    </div>

                    <!-- Footer -->
                    <div class="card-footer d-flex justify-content-around align-items-end p-0">
                        <div class="view-project">
                            <button
                                class="btn btn-sm btn-outline-light d-flex align-items-center gap-2"
                                (click)="NavigateProject(project.id)"
                            >
                                <span>View Project</span>
                                <i class="fa-solid fa-location-arrow"></i>
                            </button>
                        </div>
                        <div class="Unpin">
                            <button
                            class="btn btn-sm btn-outline-light"
                            (click)="UnPinProject(project, $event)"
                            >
                            📌 UnPin This Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <div class="col-lg-4 Tanents">
        <h1 class="text-main-color p-3">Tenants</h1>

        <div class="stack-container">
            <div
            class="card"
            *ngFor="let Tenant of visibleTenants; let i = index"
            [ngClass]="{ TenantFront: i === 0 }"
            [style.background]="getTenantsColor(i)"
            [style.zIndex]="getZIndex(i)"
            (click)="i === 0 && onTenantCardClick()"
            >

                <div class="text-center mt-2 d-flex gap-2 align-items-center">
                    <div class="card-body text-light">
                        <div class="row justify-content-around align-items-center mb-4">
                            <!-- Tenant Info -->
                            <div class="col-md-5">
                                <h4 class="mb-1 display-6 fw-semibold">{{ Tenant.name }}</h4>
                                <p class="mb-2 text-white-50">{{ Tenant.description }}</p>
                            </div>
                                <!-- Tenant Image -->
                            <div class="col-md-5">
                            <img
                            [src]="
                                                isValidUrl(Tenant.image)
                                                    ? Tenant?.image
                                                    : 'assets/images/cover.jpg'
                                                "
                            alt="Tenant Image"
                            class="rounded-circle border"
                            width="150"
                            height="150"
                            />
                            </div>
                        </div>

                        <!-- Owner & Members -->
                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <!-- Owner Info -->
                                <div class="owner-section text-start text-main-color">
                                    <p class="fw-bold d-block mb-0 p-0">Admin:</p>
                                    <div class="Content d-flex align-items-center gap-2">
                                        <img
                                            *ngIf="Tenant.owner?.imageUrl"
                                            [src]="Tenant.owner.imageUrl"
                                            alt="Owner"
                                            class="rounded-circle border"
                                            width="32"
                                            height="32"
                                        />
                                        <div class="small">
                                            <div class="fw-semibold">{{ Tenant.owner.firstName }} {{ Tenant.owner.lastName }}</div>
                                            <div class="text-white-50 small">{{ Tenant.owner.email }}</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Members -->
                                <div class="members-section">
                                    <div class="d-flex align-items-center gap-2 mb-1">
                                        <span class="fw-bold">Members:</span>
                                        <span>{{ Tenant.joinedUsers.length || 0 }}</span>
                                    </div>
                                    <div class="member-stack" (mouseenter)="hovering = true" (mouseleave)="hovering = false">
                                        <ng-container *ngFor="let user of Tenant.joinedUsers?.slice(0, 4); let i = index">
                                            <img
                                                [src]="
                                                isValidUrl(user.imageUrl)
                                                    ? user?.imageUrl
                                                    : 'assets/images/blank profile.svg'
                                                "
                                                [ngStyle]="{ left: hovering ? (i * 30) + 'px' : (i * 16) + 'px', zIndex: 10 - i }"
                                                class="member-avatar"
                                                alt="user"
                                            />
                                        </ng-container>

                                        <span *ngIf="Tenant.joinedUsers?.length ?? 0 > 4" class="extra-count">
                                            @if (Tenant.joinedUsers.length > 4)
                                            {
                                            +{{ Tenant.joinedUsers.length - 4 }}
                                            }
                                        </span>
                                    </div>

                                </div>
                            </div>

                        <!-- Url & Code  -->
                            <div class="d-flex justify-content-between align-items-center my-2">
                                <div>
                                    <span class="fw-bold">Code:</span>
                                    <span>{{ Tenant.tenantCode }}</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <span class="fw-bold">URL:</span>
                                    <span class="text-break small">{{ Tenant.tenantUrl }}</span>
                                </div>
                            </div>

                        <!-- Footer -->
                            <div class="card-footer d-flex justify-content-around align-items-end mt-3 p-0">
                                <div class="view-project">
                                    <button
                                        class="btn btn-sm btn-outline-light d-flex align-items-center gap-2"
                                        (click)="NavigateTenant(Tenant.id)"
                                    >
                                        <span>View</span>
                                        <i class="fa-solid fa-location-arrow"></i>
                                    </button>
                                </div>
                                <div class="Unpin">
                                    <button
                                    class="btn btn-sm btn-outline-light"
                                    (click)="UnPinTenant(Tenant, $event)"
                                    >
                                    📌 UnPin
                                    </button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 Issues">

        <h1 class="text-main-color  p-3">Issues</h1>

        <div class="stack-container">
            <ng-container *ngIf="visibleIssues.length > 0; else noIssues">
                <div
                class="card"
                *ngFor="let Issue of visibleIssues; let i = index"
                [ngClass]="{ IssueFront: i === 0 }"
                [style.background]="getIssuesColor(i)"
                [style.zIndex]="getZIndex(i)"
                (click)="i === 0 && onIssueCardClick()"
                >
                    <p>{{ Issue.description }}</p>
                </div>
            </ng-container>
            <ng-template #noIssues>
                <div class="card no-data">
                <h2>No pinned items</h2>
                </div>
            </ng-template>
        </div>
    </div>
</div>

    <!-- <app-card-stack></app-card-stack> -->

    <!-- <app-flip-card></app-flip-card> -->


    <!-- <app-card-stack [cards]="CardsProjectsList">
        <ng-template #cardContent let-card>
            <div>{{ card.title }}</div>
        </ng-template>
    </app-card-stack> -->

<!-- <app-card-stack [cards]="CardsProjectsList">
  <ng-template #cardContent let-card>
    <div class="custom-card-content">
        @for (card of CardsProjectsList ; track $index) {
            <h3>{{card.name}}</h3>
        }
      <h3>{{ card.title }}</h3>
      <p>{{ card.description }}</p>
       <h3>{{card.name}}</h3>
    </div>
  </ng-template>
</app-card-stack> -->




</div>

