<div
  class="bg min-vh-100 w-100 position-fixed d-flex align-items-center flex-column position-relative"
>
  <mat-toolbar class="w-75 mt-4 mx-auto d-flex justify-content-between">
    <h1>Dev Dash</h1>
    <div class="log d-flex gap-3">
      <span>Sign In</span>
      <span>Sign Up</span>
    </div>
  </mat-toolbar>
  <div class="body-text my-auto text-center">
    <h2 class="h1 text-white display-1">Hello, This Is Dev Dash</h2>
    <p>Your gateway for the best project management practices</p>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab extended>
            Basic
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
