<div class="my-4 d-flex justify-content-center align-items-center">
  <div class="BG" [ngClass]="{ expand: isSidebarCollapsed }">
    <div class="container">
      <div class="row ps-lg-1 g-3">
        <div class="col-md-6">
          <div class="card p-2 cardBottomRight h-100">
            <div class="card-body">
              <div class="header text-center">
                <h2>Project Manager</h2>
              </div>
              <hr />
              <div class="content">
                <div class="profile d-flex align-items-center gap-2">
                  <img src="assets/images/scrum master profile photo.svg" alt="scrum master profile icon" />
                  <div class="scrum-master-headar">
                    <h3 class="mb-0">John Smith</h3>
                    <p class="m-0 p-0">Scrum Master</p>
                  </div>
                </div>
                <div class="contact mt-2">
                  <h4>Contact Info</h4>
                  <div class="email d-flex align-items-center gap-1 mb-2">
                    <img src="assets/images/Email.svg" alt="" />
                    <p class="m-0 p-0">
                      Email: John<span>&#64;</span>company.com
                    </p>
                  </div>
                  <div class="linkedIn d-flex align-items-center gap-1 mb-2">
                    <img src="assets/images/LinkedIn.svg" alt="" />
                    <p class="m-0 p-0">LinkedIn: Profile</p>
                    <img src="assets/images/External Link.svg" alt="" />
                  </div>
                  <div class="whatsapp d-flex align-items-center gap-1 mb-2">
                    <img src="assets/images/WhatsApp.svg" alt="" />
                    <p class="m-0 p-0">WhatsApp: 01036411895</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card p-2 cardBottomLeft h-100 project-members">
            <div class="card-body">
              <div class="header text-center">
                <h2>Project Members</h2>
              </div>
              <hr />
              <div class="members d-flex justify-content-center flex-column">
                  <div class="d-flex align-items-center gap-2">
                    <img src="./assets/images/Test Account.svg" alt="" />
                    <p class="m-0 p-0">First Person</p>
                  </div>
                  <hr />
                <div class="d-flex align-items-center gap-2">
                  <img src="./assets/images/Test Account.svg" alt="" />
                  <p class="m-0 p-0">First Person</p>
                </div>
                <hr />
                <div class="d-flex align-items-center gap-2">
                  <img src="./assets/images/Test Account.svg" alt="" />
                  <p class="m-0 p-0">Second Person</p>
                </div>
                <hr />
                <div class="d-flex align-items-center gap-2">
                  <img src="./assets/images/Test Account.svg" alt="" />
                  <p class="m-0 p-0">Third Person</p>
                </div>
                <hr />
                <div class="add-members d-flex align-items-center gap-2">
                  <img src="./assets/images/Plus.svg" alt="" />
                  <p class="m-0 p-0">Add Members</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card p-2 cardTopRight h-100">
            <div class="card-body">
              <div class="header text-center">
                <h2>Sprints</h2>
              </div>
              <hr />
              <div class="sprints d-flex justify-content-center flex-column">
                <h3>Sprint 1</h3>
                <div class="sprint-details d-flex justify-content-between">
                  <div class="dates">
                    <p class="p-0 m-0">Start At 11/5/2024</p>
                    <p class="p-0 m-0">Due At 20/8/2024</p>
                  </div>
                  <p>10 Issues</p>
                </div>
                <hr />
              </div>
              <div class="sprints d-flex justify-content-center flex-column">
                <h3>Sprint 2</h3>
                <div class="sprint-details d-flex justify-content-between">
                  <div class="dates">
                    <p class="p-0 m-0">Start At 22/8/2024</p>
                    <p class="p-0 m-0">Due At 20/10/2024</p>
                  </div>
                  <p>10 Issues</p>
                </div>
                <hr />
              </div>
              <div class="create-sprint d-flex align-items-center gap-2" (click)="openSprint()">
                <img src="./assets/images/Plus.svg" alt="" />
                <p class="m-0 p-0" (click)="openSprint()">Create Sprint</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card p-2 cardTopLeft">
            <div class="card-body">
              <div class="header text-center">
                <h2>Project Issues</h2>
              </div>
              <hr />
              <div *ngFor="let issue of backlogIssues" class="issues d-flex justify-content-center flex-column">
                <div class="issue-name-status d-flex justify-content-between">
                  <h3>{{ issue.title }}</h3>
                  <p class="m-0 p-0">{{ issue.status }}</p>
                </div>
                <div class="issue-details d-flex justify-content-between">
                  <p class="m-0 p-0">{{ issue.description }}</p>
                </div>
                <hr />
              </div>
              <div class="create-issue d-flex align-items-center gap-2" (click)="openCreateIssue()">
                <img src="/assets/images/Plus.svg" alt="plus" style="height: 0px;" />
                <p class="m-0 p-0">Create Issue</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="card dark-card p-4 ">
            <div class="header">
              <h2>Project Backlog</h2>
            </div>
            <div class="dark-card-content p-3">
              <div class="backlog-content">
                <div *ngFor="let issue of backlogIssues" class="issue-item" (dblclick)="loadIssue(issue.id)">
                  <div class="issue-details">
                    <div class="issue-details">
                      <h4 class="text-capitalize cursor-pointer backlog-issue-title " (click)="loadIssue(issue.id)">{{
                        issue.title }}</h4>
                      <span class="label">Label</span>
                      <span class="label">Label</span>
                    </div>
                    <div class="">
                      <div class="delete d-flex justify-content-end">
                        <span class="px-3 py-2 cursor-pointer" (click)="openDeleteIssueModal(issue.id,issue.title)">
                          <i class="fa-solid fa-trash " style="color: #D02705"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="priority">
                      <i class="icon-flag"></i>
                      <div class="priority">
                        <img [src]="getPriorityIcon(issue.priority)" alt="Priority Icon" class="priority-icon" />
                        <span [ngStyle]="getPriorityStyle(issue.priority)">{{ issue.priority }}</span>
                      </div>
                    </div>
                    <div class="issue-meta">
                      <!-- <div class="avatars">
                        <img *ngFor="let user of issue.createdBy?.imageUrl" [src]="user.avatarUrl" class="avatar" />
                      </div> -->
                      <span class="created-by">Created by : </span>

                      <img src="{{issue.createdBy?.imageUrl}}" class="avatar" alt="Created by">

                      <span class="dates">{{ issue.startDate | date: 'd MMM' }} | {{ issue.deadline | date: 'd MMM'
                        }}</span>
                    </div>
                  </div>
                </div>
                <div class="add-issue-btn" (click)="openCreateIssue()">
                  <span class="plus-icon"> <img src="/assets/images/Plus.svg" alt="plus" />
                  </span> Add Issue
                </div>
                <!-- <button mat-raised-button color="primary" (click)="openModal()">Open Modal</button> -->
                <!-- <button mat-raised-button color="primary" (click)="openCreateIssueModal()">Create Issue</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>