<div class="calendar-container">
  <div class="calendar-header">
    <button (click)="prevMonth()">
      <img
        src="assets/images/dashboard icons/Back To.svg"
        alt="Pervious arrow"
        width="65%"
      />
    </button>
    <div class="month-title">
      <h4>{{ currentMonth }} {{ currentYear }}</h4>
    </div>
    <button (click)="nextMonth()">
      <img
        src="assets/images/dashboard icons/Next page.svg"
        alt="Next arrow"
        width="65%"
      />
    </button>
  </div>
  <div class="calendar-days">
    <span
      *ngFor="let day of days; let i = index"
      [class.active]="i === currentDayIndex - 1"
      class="day"
      >{{ day }}</span
    >
  </div>
  <div class="calendar-body">
    <div
      class="day"
      *ngFor="let date of dates"
      [ngClass]="{ active: date === selectedDate }"
      (click)="selectDate(date)"
    >
      {{ date }}
    </div>
  </div>
  <div class="issues-list">
    <div
      *ngFor="let issue of issues"
      class="issue-card d-flex justify-content-between align-items-center px-4"
    >
      <div class="issuePlace">
        <h3>{{ issue.title }}</h3>
        <p>{{ issue.project }} | {{ issue.team }}</p>
      </div>
      <p>{{ issue.dates }}</p>
    </div>
  </div>
</div>
