<app-modal title="Create Issue" [formGroup]="issueForm" [modalContent]="issueContent" (close)="close()"
    (submit)="submitForm()">
</app-modal>

<!-- Define the issue form inside an ng-template -->
<ng-template #issueContent>
    <form [formGroup]="issueForm">

        <!-- Issue Title -->
        <div class="row align-items-center">
            <div class="col-md-2">
                <label for="issueTitle">Issue Title *</label>
            </div>
            <div class="col-md-10">
                <input id="issueTitle" type="text" formControlName="title" placeholder="e.g. Linear" required />
            </div>
        </div>
        <!-- Description -->
        <div class="row  align-items-center">
            <div class="col-md-2">
                <label for="description">Description</label>
            </div>
            <div class="col-md-10">
                <textarea id="description" rows="2" formControlName="description"
                    placeholder="Write a few sentences about the Issue..."></textarea>
            </div>
        </div>
        <!-- Labels -->
        <!-- <div class="row align-items-center">
            <div class="col-md-2">
                <label for="labels">Label</label>
            </div>
            <div class="col-md-10">
                <mat-form-field class="label-chip-list" appearance="outline">
                    <mat-chip-grid #chipGrid aria-label="Enter Label">
                        @for (label of labels(); track label) {
                        <mat-chip-row (removed)="remove(label)" [editable]="true" (edited)="edit(label, $event)"
                            (keydown)="limitLabelLength($event, label)"
                            [aria-description]="'press enter to edit ' + label.name">
                            {{ label.name }}
                            <button matChipRemove [attr.aria-label]="'remove ' + label.name">
                                <mat-icon>&#x2715;</mat-icon>
                            </button>
                        </mat-chip-row>
                        }
                        <input placeholder="New Label..." [matChipInputFor]="chipGrid"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event)" maxlength="100" />
                    </mat-chip-grid>
                </mat-form-field>
            </div>
        </div> -->
        <!-- 
        <div class="row align-items-center">
            <div class="col-md-2">
                <label for="labels">Label</label>
            </div>
            <div class="col-md-10">
                <mat-form-field class="label-chip-list" appearance="outline">
                    <mat-chip-grid #chipGrid aria-label="Enter Label">
                        <mat-chip-row *ngFor="let label of issueForm.controls['labels'].value; let i = index"
                            (removed)="remove(i)" [editable]="true" (edited)="edit(i, $event.value)"
                            (keydown)="limitLabelLength($event, i)" [aria-description]="'Press enter to edit ' + label">
                            {{ label }}
                            <button matChipRemove [attr.aria-label]="'Remove ' + label">
                                <mat-icon>&#x2715;</mat-icon>
                            </button>
                        </mat-chip-row>
                        <input placeholder="New Label..." [matChipInputFor]="chipGrid"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event)" maxlength="100" />
                    </mat-chip-grid>
                </mat-form-field>
            </div>
        </div>
 -->


        <div class="divider"></div>
        <!-- Dates -->
        <div class="date-container">
            <!-- Start Date -->
            <div class="row align-items-center">
                <div class="col-md-2"><label>Start Date</label></div>
                <div class="col-md-10">
                    <mat-form-field appearance="outline" class="custom-date-picker">
                        <mat-icon matPrefix class="custom-calendar-icon" (click)="picker1.open()"><img
                                src="assets/images/uil_calender.svg" alt=""></mat-icon>
                        <input matInput [matDatepicker]="picker1" formControlName="startDate" placeholder="Select Date">
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <!-- Due Date -->
            <div class="row align-items-center">
                <div class="col-md-2"><label>Due Date</label></div>
                <div class="col-md-10">
                    <mat-form-field appearance="outline" class="custom-date-picker">
                        <mat-icon matPrefix class="custom-calendar-icon" (click)="picker2.open()"><img
                                src="assets/images/uil_calender.svg" alt=""></mat-icon>
                        <input matInput [matDatepicker]="picker2" formControlName="deadline" placeholder="Select Date">
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <!-- Delivered Date -->
            <div class="row align-items-center">
                <div class="col-md-2"><label>Delivered Date</label></div>
                <div class="col-md-10">
                    <mat-form-field appearance="outline" class="custom-date-picker">
                        <mat-icon matPrefix class="custom-calendar-icon" (click)="picker3.open()"><img
                                src="assets/images/uil_calender.svg" alt=""></mat-icon>
                        <input matInput [matDatepicker]="picker3" formControlName="deliveredDate"
                            placeholder="Select Date">
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <!-- Issue Type -->
        <div class="row align-items-center">
            <div class="col-md-2"><label for="issue-type">Issue Type *</label></div>
            <div class="col-md-10">
                <mat-form-field appearance="outline" class="custom-dropdown">
                    <mat-select formControlName="type" multiple="false" panelClass="custom-select-panel">
                        <mat-option value="" disabled hidden>Select Issue Type</mat-option>
                        <mat-option value="Bug">Bug</mat-option>
                        <mat-option value="Feature">Feature</mat-option>
                        <mat-option value="Task">Task</mat-option>
                        <mat-option value="Epic">Epic</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <!-- Status -->
        <div class="row align-items-center">
            <div class="col-md-2">
                <label for="issue-type">Status *</label>
            </div>
            <div class="col-md-10">
                <mat-button-toggle-group formControlName="status" aria-label="Issue Status" class="w-100">
                    <mat-button-toggle *ngFor="let status of statuses" [value]="status.value">
                        <img [src]="status.icon" alt="{{ status.label }} Icon" class="status-icon" />
                        {{ status.label }}
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
        <!-- Priority -->
        <div class="row align-items-center">
            <div class="col-md-2">
                <label for="issue-type">Priority *</label>
            </div>
            <div class="col-md-10">
                <mat-button-toggle-group formControlName="priority" aria-label="Issue Priority">
                    <mat-button-toggle *ngFor="let priority of Priorities" [value]="priority.value"
                        [class]="priority.value">
                        <img [src]="priority.icon" alt="{{ priority.label }} Icon" class="priority-icon" />
                        {{ priority.label }}
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>

    </form>
</ng-template>