/************************** Labels *************************/
.label-chip-list {
    width: 100%;
    max-width: 100%;
    overflow: auto;

}

.modal-container ::ng-deep .mat-mdc-chip {
    border: 2px solid #191b36 !important;
    background-color: transparent !important;
}

.modal-container ::ng-deep .mat-mdc-chip .mdc-evolution-chip__text-label {
    color: #7b86e8 !important;
}

.modal-container ::ng-deep .mat-mdc-chip-remove {
    color: #ff99eb !important;
}

.modal-container ::ng-deep .mat-mdc-chip:hover {
    background-color: #252748 !important;
}

.modal-container ::ng-deep .mat-mdc-chip-remove mat-icon {
    color: #d77fd4 !important;
    font-size: 12px !important;
    font-weight: 800 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.modal-container ::ng-deep .label-chip-list .mat-mdc-text-field-wrapper {
    padding: 10px !important;
}

.modal-container ::ng-deep .mat-mdc-chip-input {
    margin: 0 !important;
    padding: 0 10px !important;
    color: #91A0C0 !important;
}

/* UPload */
.choose-file-btn {
    transition: all 0.3s ease;
    /* border: 2px dashed #6c63ff; */
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    /* background-color: #252748; */
    color: white;

    &:hover {
        /* background-color: #4949d0; */
        /* transform: scale(1.03); */
        /* box-shadow: 0 0 10px #6c63ff66; */
    }

    &.file-selected {
        border-color: #4c78af;
        background-color: #191b362b;
        color: #4c78af;
    }

    img {
        transition: transform 0.3s ease;
    }

    &:hover img {
        transform: rotate(10deg) scale(1.1);
    }
}

/* //////// */