<mat-sidenav-container
  class="bg-transparent my-3 rounded-3 position-fixed"
  autosize
>
  <mat-sidenav
    #sidenav
    mode="side"
    opened
    [ngClass]="collapsed ? 'collapsed-sidenav' : 'expanded-sidenav'"
  >
    <div
      class="side-menu-bg h-100 rounded-3 px-2 py-3"
      [style.overflow-y]="collapsed ? 'hidden' : 'auto'"
      [class.overflow-x-hidden]="!collapsed"
      [class.overflow-y-auto]="!collapsed"
    >
      <div class="container">
        <div class="row g-3">
          <!-- logo -->
          <div class="col-md-12">
            <div
              class="side-logo"
              [ngClass]="{
                'justify-content-between': !collapsed,
                'justify-content-center': collapsed
              }"
              (click)="toggleCollapseSmall()"
              [style.cursor]="isSmallScreen ? 'default' : 'pointer'"
            >
              <h5 class="m-0 p-0" *ngIf="!collapsed">
                <img src="../../../assets/images/Ddside.png" class="Logo me-2" alt="" />
                Dev Dash
              </h5>
              @if(collapsed==true) {
              <span><i class="fa-solid fa-angles-right"></i></span>
              } @else {
              <span><i class="fa-solid fa-angles-left"></i></span>
              }
            </div>
          </div>

          <!--main services-->
          <div class="col-md-12" [class.hidden]="collapsed">
            <div class="side-menu-wrapper h-100">
              <div
                class="gap-2 main-service"
                *ngFor="let service of mainServices; let i = index"
                [class.mt-2]="i > 0"
              >
                <img [src]="service.imagePath" alt="" />
                <p class="m-0 p-0" [routerLink]="service.path">
                  {{ service.title }}
                </p>
              </div>
            </div>
          </div>

          <!--companies-->
          <div class="col-md-12" *ngIf="!collapsed">
            <div class="side-menu-wrapper h-100">
              <div
                class="gap-2 all-companies"
                routerLink="/MyDashboard/allcompanies"
              >
                <img src="assets/images/sidebar icons/Company.svg" alt="" />
                <p class="m-0 pe-1">Companies</p>
              </div>

              <div class="drop-menus mt-2">
                <span class="loader" *ngIf="loadedCompanies"></span>
                @if(!loadedCompanies) {
                <div
                  *ngFor="let company of companyData; let companyIndex = index"
                  class="company d-flex flex-column"
                >
                  <div
                    class="drop-button"
                    (click)="
                      toggleCollapseDropDown(getCollapseId(companyIndex))
                    "
                    data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#' + getCollapseId(companyIndex)"
                    aria-expanded="false"
                    [attr.aria-controls]="getCollapseId(companyIndex)"
                  >
                    <p
                      class="text-capitalize"
                      (click)="selectCompany(company.id)"
                    >
                      {{ company.name }}
                    </p>
                    @if (!dropdownStates[getCollapseId(companyIndex)]) {
                    <span><i class="fa-solid fa-chevron-down fa-xs"></i></span>
                    } @else {
                    <span><i class="fa-solid fa-chevron-up fa-xs"></i></span>
                    }
                  </div>

                  <div class="collapse" [id]="getCollapseId(companyIndex)">
                    <div class="projects ps-3">
                      <div
                        *ngFor="
                          let project of projectTest[company.id];
                          let projectIndex = index
                        "
                        class="project"
                      >
                        <div
                          class="drop-button"
                          (click)="
                            toggleCollapseDropDown(
                              getCollapseId(companyIndex, projectIndex)
                            )
                          "
                          data-bs-toggle="collapse"
                          [attr.data-bs-target]="
                            '#' + getCollapseId(companyIndex, projectIndex)
                          "
                          aria-expanded="false"
                          [attr.aria-controls]="
                            getCollapseId(companyIndex, projectIndex)
                          "
                        >
                          <!-- routerLink="/MyDashboard/Project" -->
                          <p (click)="selectProject(project.id)">
                            {{ project.name }}
                          </p>
                          @if (!dropdownStates[getCollapseId(companyIndex,
                          projectIndex)]) {
                          <span
                            ><i class="fa-solid fa-chevron-down fa-xs"></i
                          ></span>
                          } @else {
                          <span
                            ><i class="fa-solid fa-chevron-up fa-xs"></i
                          ></span>
                          }
                        </div>

                        <div
                          class="collapse ps-3 collapse-teams"
                          [id]="getCollapseId(companyIndex, projectIndex)"
                        >
                          @for(sprint of showSprints[project.id]; track $index)
                          {
                          <div class="team">
                            <span
                              ><i class="fa-regular fa-circle fa-2xs"></i
                            ></span>
                            <p
                              class="ps-2 m-0"
                              (click)="selectSprint(sprint.id)"
                            >
                              {{ sprint.title }}
                            </p>
                          </div>
                          }
                          <div
                            class="sprint add-sprint"
                            *ngIf="company.owner.id === userId"
                            (click)="openSprint(project.id)"
                          >
                            <span><i class="fa-solid fa-plus fa-xs"></i></span>
                            <p class="ps-2 m-0">Create Sprint</p>
                          </div>
                        </div>
                      </div>

                      <div
                        (click)="openProj()"
                        *ngIf="company.owner.id === userId"
                        class="add-project mb-2"
                      >
                        <span><i class="fa-solid fa-plus fa-xs"></i></span>
                        <p class="ps-2 p-0 m-0">Add Project</p>
                      </div>
                    </div>
                  </div>
                </div>
                }

                <div (click)="openCompany()" class="add-company">
                  <span><i class="fa-solid fa-plus fa-xs"></i></span>
                  <p class="ps-2 m-0">Add Company</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Workspace Section -->
          <div class="col-md-12" *ngIf="!collapsed">
            <div class="side-menu-wrapper h-100">
              <div class="work-space gap-2">
                <img
                  src="assets/images/sidebar icons/Project Management.svg"
                  alt=""
                />
                <p class="m-0 p-0">My Workspace</p>
              </div>

              <div class="projects ps-3 mt-2">
                <div
                  class="drop-button project"
                  (click)="toggleCollapseDropDown('collapseWorkspace')"
                  data-bs-toggle="collapse"
                  [attr.data-bs-target]="'#collapseWorkspace'"
                  aria-expanded="false"
                  [attr.aria-controls]="'collapseWorkspace'"
                >
                  <p routerLink="/MyDashboard/Project">Project 1</p>
                  @if(!dropdownStates['collapseWorkspace']) {
                  <span>
                    <i class="fa-solid fa-chevron-down fa-xs"></i>
                  </span>
                  } @else {
                  <span>
                    <i class="fa-solid fa-chevron-up fa-xs"></i>
                  </span>
                  }
                </div>

                <div
                  class="collapse ps-3 collapse-teams"
                  id="collapseWorkspace"
                >
                  <div *ngFor="let issue of workspaceIssues" class="team">
                    <span><i class="fa-regular fa-circle fa-2xs"></i></span>
                    <p class="ps-2 m-0">{{ issue }}</p>
                  </div>
                  <div (click)="openIssue()" class="sprint add-sprint">
                    <span><i class="fa-solid fa-plus fa-xs"></i></span>
                    <p class="ps-2 m-0">Add Issue</p>
                  </div>
                </div>

                <div (click)="openProj()" class="add-project">
                  <span><i class="fa-solid fa-plus fa-xs"></i></span>
                  <p class="ps-2 m-0 p-0">Add Project</p>
                </div>
              </div>
            </div>
          </div>

          <!-- other services -->
          <div class="col-md-12" *ngIf="!collapsed">
            <div class="side-menu-wrapper h-100">
              <div
                class="other-service gap-2"
                *ngFor="let service of otherServices; let i = index"
                [class.mt-2]="i > 0"
              >
                <img [src]="service.imagePath" alt="" />
                <p class="m-0 p-0">{{ service.text }}</p>
              </div>
            </div>
          </div>

          <!--collapsed icons-->
          <div class="col-md-12" *ngIf="collapsed">
            <div class="flex-column gap-4 mt-2 collapsed-icons">
              <img
                *ngFor="let icon of collapsedIcons"
                [src]="icon.imagePath"
                alt=""
                [routerLink]="icon.path"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
