/* *********************Date Piker **************************/

mat-form-field {
    width: 200px !important;
    display: block;
}

mat-form-field input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.custom-date-picker {
    background-color: #010423;
    border-radius: 5px !important;
    border: 0 !important;

}

::ng-deep .mat-mdc-form-field {
    --mdc-outlined-text-field-outline-width: 0px;
}

::ng-deep .mat-mdc-form-field.mat-focused {
    box-shadow: 0px 0px 5px 0px #d076be7a;
}

::ng-deep .mat-mdc-form-field.mat-focused .mdc-notched-outline__leading,
::ng-deep .mat-mdc-form-field.mat-focused .mdc-notched-outline__trailing,
::ng-deep .mat-mdc-form-field.mat-focused .mdc-notched-outline__notch {
    border-width: 1px !important;
    border-color: #d076be7a !important;
}


::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding: 0 !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
}

::ng-deep .mat-mdc-form-field-icon-prefix>.mat-icon {
    padding: 0 0 0 10px !important;
}

::ng-deep .mat-mdc-form-field-infix {
    min-height: fit-content !important;
    width: fit-content !important;
}

/* Dark calender */
::ng-deep .mat-datepicker-content {
    background-color: #010423 !important;
    border-radius: 5px !important;
}


::ng-deep .mat-calendar-table td,
::ng-deep .mat-calendar-table-header th {
    color: #e28ed3 !important;
    /* Days and weekdays */
}

::ng-deep .mat-calendar-body-cell-content {
    color: #91A0C0 !important;
}

::ng-deep .mat-mdc-button,
::ng-deep .mat-mdc-calendar-header {
    color: #04122f !important;
    /* Header text (Month/Year) */
}

::ng-deep .mat-calendar-header {
    background-color: #d77fd4 !important;
    border-radius: 5px 5px 0 0;
}

::ng-deep .mat-calendar-body-selected {
    background-color: #91A0C0 !important;
    color: #4461a8 !important;
}

::ng-deep .mat-calendar-body-today {
    border: 1px solid #91A0C0 !important;
    color: #91A0C0 !important;
}


/* ======================================================================= */