/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /*Colors*/
  --mainButtonColor: #010423;
  --inputBoxStroke: #557dc3;

  --mainColor: white;
  --mainLightBlueColor: #dcdfff;
  /*new*/
  --lightGrayColor: rgba(255, 255, 255, 0.502);
  --normalGrayColor: #908f8f;

  --firstStandardBlueColor: #212754;
  --secondStandardBlueColor: #161d3e;
  --thirdStandardBlueColor: #010423;
  --brightBlueColor: #2459fffc;
  --lightBlueColor: #b8c4f1;
  --turquoiseColor: #0eeade;

  --normalPurple: #8051b1;
  --lightLavenderColor: #c3b4ff;
  --veryLightLavenderColor: #bfc5fc;
  --brightPurpleColor: #b926e7;
  --lightPinkColor: #e39ff4;

  --importantPinkColor: #cc1646;
  --lightRedColor: #ff5154;

  --brightGreenColor: #0bc118;
  /*----------------------------------------------------------------------------------------*/
  /*Gradients*/

  --mainBackgroundGradient: radial-gradient(97.81% 96.5% at 2.19% 3.5%,
      #000000 0%,
      #102a56 100%);

  --strokeGradient: linear-gradient(129deg,
      #3a4962 1%,
      #ff90e8 43%,
      #74caff 70%,
      #292f65 91%);

  /* added a new stroke try it out !*/
  --newStrokeGradient: linear-gradient(129deg,
      #3a4962 0%,
      #ff90e8 20%,
      #74caff 70%,
      #292f65 120%);

  /*Chart Gradients*/

  --blueChartBackgroundGradient: linear-gradient(131deg,
      #292f65 8%,
      rgba(0, 0, 0, 0) 100%);

  --seaBlueGradient: radial-gradient(circle at 37% 56%, #09f0de, #4e83ed 26%);

  --skyBlueGradient: linear-gradient(to bottom, #71a5ff, #1347a3);

  --purpleGradient: radial-gradient(circle at 50% 50%, #c120e6, #5b6eef 71%);

  --lightPinkGradient: radial-gradient(circle at 34% 19%, #db83f1, #eabef6 14%);

  /*Side Bar Gradients*/
  --sideBarBackgroundGradient: radial-gradient(circle at 100% 95%,
      #4a314c 2%,
      #161d3e 35%),
    linear-gradient(172deg, #3a4962 2%, #ff90e8 45%, #74caff 72%, #292f65 92%);

  /*Modal Gradients*/
  --modalGradient: radial-gradient(circle at 2% 99%, #4a314c, #141a4b 67%);

  /*search Gradients*/
  --searchBlueGradient: linear-gradient(to right,
      #161d3e 63%,
      rgba(65, 76, 179, 0.2));

  --searchButtonGradient: linear-gradient(122deg, #c120e6 19%, #5b6eef 77%);

  /*Cards Gradients*/
  --cardBottomRightGradient: radial-gradient(circle at 100% 100%,
      #4a314c 7%,
      #21264f 54%),
    linear-gradient(129deg, #3a4962 1%, #ff90e8 43%, #74caff 70%, #292f65 91%);

  --cardBottomLeftGradient: radial-gradient(circle at 7% 100%,
      #4a314c 1%,
      #21264f 44%),
    linear-gradient(123deg, #3a4962 1%, #ff90e8 43%, #74caff 70%, #292f65 91%);

  --cardTopRightGradient: radial-gradient(circle at 95% 0%,
      #4a314c 1%,
      #21264f 65%);

  --cardTopLeftGradient: radial-gradient(circle at 0% 0%, #4a314c, #21264f 39%);

  /*Buttons Gradients*/
  --allPinkButtonGradient: radial-gradient(circle at 42% 50%,
      #eabef6,
      #db83f1 65%),
    linear-gradient(100deg, #3a4962 0%, #ff90e8 42%, #74caff 70%, #292f65 90%);

  /*glass Effect Gradients*/
  --glassGradient: linear-gradient(144.86deg,
      rgba(58, 73, 98, 0.18) 6.8%,
      rgba(93, 104, 201, 0.143) 29.3%,
      rgba(91, 177, 230, 0.105) 51.79%,
      rgba(255, 144, 232, 0.03) 96.78%);
  --glassfilter: blur(30px);

  /*----------------------------------------------------------------------------------------*/
  /*Fonts,shadows,filters,transitions,transformations,actions and more*/

  --standardShadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.25);
  --lighterShadow: 0 4px 30px rgba(0, 0, 0, 0.15);

  --regularFontFamily: "Inter", serif;
  --headerFontFamily: "Poppins", serif;

  /*added new font sizes*/
  --tinyFontSize: 0.5rem;
  --smallFontSize: 0.875rem;
  --regularFontSize: 1rem;
  --middleFontSize: 1.125rem;
  --headerFontSize: 2.1875rem;

  --normalFontWeight: 400;
  --middleFontWeight: 500;
  --hardFontWeight: 700;

  --standardRoundness: 0.9375rem;
  /*new*/
  --secondRoundness: 0.5rem;
  /*new*/
  --standardPadding: 1rem;
}

/*==============================================================*/
/* classes*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.bg {
  background: var(--mainBackgroundGradient);
}

.BG {
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transform: translateX(0px);
}

.BG.expand {
  transform: translateX(-30px);
  width: calc(100% + 100px);
  margin-left: -100px;
}

.cardTopLeft {
  background: var(--cardTopLeftGradient);
}

.cardTopRight {
  background: var(--cardTopRightGradient);
}

.cardBottomLeft {
  background: var(--cardBottomLeftGradient);
}

.cardBottomRight {
  background: var(--cardBottomRightGradient);
}

.card::before {
  content: "";
  position: absolute;
  border-radius: var(--standardRoundness);
  background: var(--newStrokeGradient);
  inset: 0px;
  z-index: 1;
  padding: 0.5px;
  -webkit-mask: linear-gradient(black, black) content-box,
    linear-gradient(black, black);
  -webkit-mask-composite: destination-in;
  mask-composite: exclude;
  outline: 0;
  pointer-events: none;
}

.card {
  border-radius: var(--standardRoundness) !important;
  position: relative;
  overflow: hidden;
  padding: 0.5rem;
}

.card p,
.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.card span {
  color: var(--mainLightBlueColor);
}

/* =============================================================================== */
/**********Handling Scroll bar ************/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

textarea::-webkit-scrollbar,
.side-menu-bg::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #dcdfffae;
  border-radius: var(--standardRoundness);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--inputBoxStroke);
  border-radius: var(--standardRoundness);
}

.side-menu-bg ::-webkit-scrollbar-track {
  margin: 65px;
}


/* =============================================================================== */

/* -----------------  Toggle Switch -----------------  */
.toggle-btn {
  display: inline-block;
  outline: 0;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  user-select: none;
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
  border: 1px solid #e8eae9;
}

.toggle-btn:focus::after,
.toggle-btn:active::after {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08),
    inset 0px 0px 0px 1.5px #9c9c9c;
}

.toggle-btn::after {
  left: 0;
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  border-radius: 2em;
  background: #fbfbfb;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}

.toggle-btn.toggle-btn-on::after {
  left: 50%;
}

.toggle-btn.toggle-btn-on {
  /* background: #86d993; */
  /* background: #d076be; */
  background: #e181d1;
}

.toggle-btn.toggle-btn-on:active {
  box-shadow: none;
  width: 60%;
}

.toggle-btn.toggle-btn-on:active::after {
  margin-left: -0.8em;
}

.toggle-btn:active::after {
  padding-right: 0.8em;
}

.toggle-input {
  display: none;
}

/* =============================================================================== */

/* =============================================================================== */
/* ******************Auth Style********************************* */
.auth-form-container {
  background-image: var(--glassGradient);
  /* background-color: var(--mainDarkBlueColor); */
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 40px;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 10px;
  color: var(--mainLightBlueColor);
}

.auth-form-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: inherit;
  padding: 1.1px;
  background: var(--strokeGradient);
  mask-composite: exclude;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: subtract;
}

/* .auth-form-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  border-radius: inherit;
  background-image: var(--glassGradient);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);

} */

.auth-form-container h1 {
  font-family: var(--headerFontFamily) !important;
  /* font-size: var(--headerFontSize); */
  font-size: 1.8rem;
}

.auth-form-container label,
.auth-form-container span,
button {
  /* font-size: var(--regularFontSize); */
  font-size: 0.9rem;
}

.auth-form-container input {
  border: none;
  color: #91A0C0 !important;
}